Repository stfc/PSyclone, pull requests merged in 2020-12, with the labels that each got.

#947 Allow DataNode to declare an array dimension (closes #946)
  changelog
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/symbols/datatypes.py
  src/psyclone/psyir/transformations/intrinsics/matmul2code_trans.py
  src/psyclone/tests/gocean1p0_opencl_test.py
  src/psyclone/tests/nemo/test_files/array_syntax.f90
  src/psyclone/tests/nemo/test_files/explicit_do.f90
  src/psyclone/tests/nemo/test_files/explicit_do_long_line.f90
  src/psyclone/tests/nemo/test_files/explicit_do_two_loops.f90
  src/psyclone/tests/nemo/test_files/imperfect_nest.f90
  src/psyclone/tests/nemo/test_files/include_stmt.f90
  src/psyclone/tests/nemo/test_files/io_in_loop.f90
  src/psyclone/tests/nemo/test_files/two_explicit_do.f90
  src/psyclone/tests/nemo/transformations/openacc/data_directive_test.py
  src/psyclone/tests/nemo/transformations/openacc/kernels_directive_test.py
  src/psyclone/tests/nemo/transformations/openacc/loop_directive_test.py
  src/psyclone/tests/nemo/transformations/openacc/parallel_directive_test.py
  src/psyclone/tests/nemo/transformations/openmp/openmp_test.py
  src/psyclone/tests/nemo/transformations/profiling/nemo_profile_test.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/nodes/literal_test.py
  src/psyclone/tests/psyir/symbols/datasymbol_test.py
  src/psyclone/tests/psyir/symbols/datatype_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
  src/psyclone/tests/psyir/tools/dependency_tools_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/matmul2code_trans_test.py
Labels: PSyIR, ready to be merged

#1020 Rename Array -> ArrayReference (towards 363)
  changelog
  doc/developer_guide/psyir.rst
  doc/user_guide/psyir.rst
  examples/psyir/create.py
  examples/psyir/create_aggregate_types.py
  psyclone.pdf
  src/psyclone/dynamo0p1.py
  src/psyclone/psyir/backend/c.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/backend/sir.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/__init__.py
  src/psyclone/psyir/nodes/array_reference.py
  src/psyclone/psyir/nodes/assignment.py
  src/psyclone/psyir/nodes/reference.py
  src/psyclone/psyir/transformations/arrayrange2loop_trans.py
  src/psyclone/psyir/transformations/intrinsics/matmul2code_trans.py
  src/psyclone/tests/nemo/transformations/openacc/data_directive_test.py
  src/psyclone/tests/psyir/backend/c_test.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/backend/sir_test.py
  src/psyclone/tests/psyir/backend/visitor_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/frontend/fparser2_where_handler_test.py
  src/psyclone/tests/psyir/nodes/array_reference_test.py
  src/psyclone/tests/psyir/nodes/assignment_test.py
  src/psyclone/tests/psyir/nodes/bound_intrinsic_op_test.py
  src/psyclone/tests/psyir/nodes/call_test.py
  src/psyclone/tests/psyir/nodes/reference_test.py
  src/psyclone/tests/psyir/nodes/test_range.py
  src/psyclone/tests/psyir/transformations/arrayrange2loop_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/matmul2code_trans_test.py
Labels: PSyIR, ready to be merged

#1011 Fix auto kernel profiling in the presence of omp/acc directives (closes #1008)
  changelog
  doc/user_guide/profiling.rst
  psyclone.pdf
  src/psyclone/.pylintrc
  src/psyclone/profiler.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/nodes/psy_data_node.py
  src/psyclone/psyir/transformations/psy_data_trans.py
  src/psyclone/tests/nemo/transformations/openacc/kernels_directive_test.py
  src/psyclone/tests/nemo/transformations/profiling/nemo_profile_test.py
  src/psyclone/tests/psyir/transformations/psy_data_trans_test.py
  src/psyclone/transformations.py
  tutorial/practicals/nemo/3_nemo_openmp/Makefile
  tutorial/practicals/nemo/3_nemo_openmp/my_omp_trans.py
  tutorial/practicals/nemo/3_nemo_openmp/solutions/Makefile
Labels: NEMO, ready to be merged

#951 Allow PSyIR blocks to be generated inside f2pygen (closes #950)
  changelog
  doc/user_guide/examples.rst
  doc/user_guide/transformations.rst
  examples/gocean/README.md
  examples/gocean/eg4/Makefile
  examples/gocean/eg4/README.md
  examples/gocean/eg4/acc_transform.py
  examples/gocean/eg4/alg_kern_use_var.f90
  examples/gocean/eg4/kern_use_var_mod.f90
  psyclone.pdf
  src/psyclone/dynamo0p1.py
  src/psyclone/dynamo0p3.py
  src/psyclone/f2pygen.py
  src/psyclone/gocean0p1.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyGen.py
  src/psyclone/tests/domain/gocean/transformations/globalstoargs_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/transformations/kernel_transformation_test.py
  src/psyclone/transformations.py
Labels: ready to be merged

#1026 (closes #1025) remove travis
  .github/workflows/python-package.yml
  .travis.yml
  README.md
  bin/install_optional.sh
  changelog
  doc/developer_guide/working_practises.rst
  doc/user_guide/examples.rst
  examples/common.mk
  src/psyclone/tests/conftest.py
Labels: ready to be merged

#944 Add support for kernel metadata with operates_on=domain. (Towards #925)
  changelog
  doc/developer_guide/APIs.rst
  doc/user_guide/dynamo0p3.rst
  psyclone.pdf
  src/psyclone/domain/lfric/lfric_arg_descriptor.py
  src/psyclone/dynamo0p3.py
  src/psyclone/gen_kernel_stub.py
  src/psyclone/tests/domain/lfric/lfric_domain_kernels_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/stubgen_test.py
Labels: LFRic, ready to be merged
