Repository stfc/PSyclone, pull requests merged in 2020-03, with the labels that each got.

#702 [LFRic] Read default kinds from config file (for #660)
  changelog
  config/psyclone.cfg
  doc/user_guide/configuration.rst
  doc/user_guide/dynamo0p3.rst
  examples/lfric/code/dg_matrix_vector_kernel_mod.F90
  examples/lfric/code/gw_mixed_schur_preconditioner_alg_mod.x90
  examples/lfric/code/matrix_vector_kernel_mod.F90
  examples/lfric/eg10/prolong_kernel_mod.F90
  examples/lfric/eg10/restrict_kernel_mod.F90
  examples/lfric/eg11/helmholtz_solver_alg_mod.x90
  examples/lfric/eg11/scaled_matrix_vector_kernel_mod.F90
  examples/lfric/eg3/matrix_vector_mm_mod.F90
  examples/lfric/eg3/solver_mod.x90
  examples/lfric/eg3/w3_solver_kernel_mod.F90
  examples/lfric/eg4/enforce_bc_kernel_mod.f90
  examples/lfric/eg4/matrix_vector_kernel_mod.F90
  examples/lfric/eg4/mm_diagonal_kernel_mod.F90
  examples/lfric/eg5/alg.f90
  examples/lfric/eg5/conservative_flux_kernel_mod.F90
  examples/lfric/eg5/subgrid_coeffs_kernel_mod.F90
  examples/lfric/eg7/columnwise_op_app_kernel_mod.F90
  examples/lfric/eg7/columnwise_op_asm_kernel_mod.F90
  examples/lfric/eg7/columnwise_op_mul_kernel_mod.F90
  examples/lfric/eg7/matrix_vector_kernel_mod.F90
  examples/lfric/eg8/apply_variable_hx_kernel_mod.F90
  examples/lfric/eg8/enforce_bc_kernel_mod.F90
  examples/lfric/eg8/scaled_matrix_vector_kernel_mod.F90
  examples/lfric/eg9/matrix_vector_kernel_mod.F90
  examples/lfric/eg9/rtheta_bd_kernel_mod.F90
  examples/lfric/eg9/rtheta_kernel_mod.F90
  examples/lfric/eg9/rtheta_wtheta_kernel_mod.F90
  examples/lfric/eg9/sample_poly_adv_kernel_mod.F90
  psyclone.pdf
  src/psyclone/configuration.py
  src/psyclone/dynamo0p3.py
  src/psyclone/psyGen.py
  src/psyclone/tests/config_test.py
  src/psyclone/tests/domain/lfric/lfric_config_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/dynamo0p3_basis_test.py
  src/psyclone/tests/dynamo0p3_builtins_test.py
  src/psyclone/tests/dynamo0p3_cma_test.py
  src/psyclone/tests/dynamo0p3_lma_test.py
  src/psyclone/tests/dynamo0p3_multigrid_test.py
  src/psyclone/tests/dynamo0p3_quadrature_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/lfric_ref_elem_test.py
  src/psyclone/tests/test_files/dummy_config.cfg
Labels: ready to be merged

#684 655 refactor transformations
  changelog
  doc/user_guide/profiling.rst
  doc/user_guide/psy_data.rst
  doc/user_guide/transformations.rst
  examples/gocean/eg6/Makefile
  examples/gocean/eg6/extract_transform.py
  psyclone.pdf
  src/psyclone/domain/gocean/nodes/gocean_extract_node.py
  src/psyclone/domain/gocean/transformations/gocean_extract_trans.py
  src/psyclone/domain/lfric/transformations/lfric_extract_trans.py
  src/psyclone/psyir/nodes/extract_node.py
  src/psyclone/psyir/nodes/profile_node.py
  src/psyclone/psyir/nodes/psy_data_node.py
  src/psyclone/psyir/transformations/extract_trans.py
  src/psyclone/psyir/transformations/profile_trans.py
  src/psyclone/psyir/transformations/psy_data_trans.py
  src/psyclone/psyir/transformations/region_trans.py
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean_extract_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_extract_test.py
  src/psyclone/tests/nemo/transformations/profiling/nemo_profile_test.py
  src/psyclone/tests/psyir/nodes/psy_data_node_test.py
  src/psyclone/tests/psyir/transformations/extract_test.py
  src/psyclone/tests/psyir/transformations/profile_test.py
  src/psyclone/tests/psyir/transformations/psy_data_trans_test.py
  src/psyclone/tests/psyir/transformations/region_trans_test.py
  src/psyclone/tests/psyir/transformations/transformations_test.py
  src/psyclone/transformations.py
Labels: PSyIR, ready to be merged

#707 Improved profiling example
  changelog
  doc/user_guide/examples.rst
  doc/user_guide/profiling.rst
  examples/check_examples
  examples/gocean/eg2/.gitignore
  examples/gocean/eg5/.gitignore
  examples/gocean/eg5/Makefile
  examples/gocean/eg5/README.md
  examples/gocean/eg5/test.x90
  lib/profiling/drhook/drhook_psy.f90
  psyclone.pdf
Labels: ready to be merged

#708 638 grid properties
  changelog
  examples/gocean/eg6/test.x90
  examples/gocean/eg6/update_field_mod.f90
  lib/extract/dl_esm_inf/netcdf/kernel_data_netcdf.f90
  psyclone.pdf
  src/psyclone/configuration.py
  src/psyclone/domain/gocean/nodes/gocean_extract_node.py
  src/psyclone/f2pygen.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyir/nodes/extract_node.py
  src/psyclone/psyir/nodes/profile_node.py
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/psyir/transformations/psy_data_trans.py
  src/psyclone/tests/domain/gocean/transformations/gocean_extract_test.py
  src/psyclone/tests/f2pygen_test.py
  src/psyclone/tests/gocean1p0_config_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
  src/psyclone/tests/test_files/gocean1p0/driver_test.f90
  src/psyclone/tests/test_files/gocean1p0/kernel_driver_test.f90
Labels: GOcean, ready to be merged
