Repository stfc/PSyclone, pull requests merged in 2020-07, with the labels that each got.

#811 Remove duplicate declarations of orientation pointers (for #783)
  changelog
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/dynamo0p3_test.py
Labels: LFRic, bug, ready to be merged

#822 Exclude Return nodes from profiling regions (closes #820)
  changelog
  src/psyclone/psyir/transformations/extract_trans.py
  src/psyclone/psyir/transformations/profile_trans.py
  src/psyclone/psyir/transformations/psy_data_trans.py
  src/psyclone/psyir/transformations/region_trans.py
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_extract_test.py
  src/psyclone/tests/nemo/transformations/openacc/data_directive_test.py
  src/psyclone/tests/nemo/transformations/openacc/kernels_directive_test.py
  src/psyclone/tests/nemo/transformations/profiling/nemo_profile_test.py
  src/psyclone/tests/psyir/transformations/region_trans_test.py
  src/psyclone/transformations.py
Labels: NEMO, PSyIR, ready to be merged

#796 transform PSyIR array ranges into loops (issue #412)
  changelog
  doc/developer_guide/psyir.rst
  doc/developer_guide/transformations.rst
  doc/user_guide/transformations.rst
  psyclone.pdf
  src/psyclone/psyir/nodes/reference.py
  src/psyclone/psyir/transformations/__init__.py
  src/psyclone/psyir/transformations/arrayrange2loop_trans.py
  src/psyclone/psyir/transformations/intrinsics/operator2code_trans.py
  src/psyclone/tests/nemo/transformations/loops/loop_transformation_test.py
  src/psyclone/tests/psyir/nodes/reference_test.py
  src/psyclone/tests/psyir/transformations/arrayrange2loop_trans_test.py
Labels: PSyIR, ready to be merged

#834 (closes #833) Add PSyIR support for NINT()
  changelog
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/operation.py
  src/psyclone/tests/psyir/frontend/fparser2_nint_intrinsic_test.py
Labels: NEMO, PSyIR, ready to be merged

#821 search ancestor symbol tables when looking for symbols (issue 630)
  changelog
  doc/developer_guide/psyir_symbols.rst
  doc/user_guide/psyir.rst
  examples/gocean/eg1/opencl_transformation.py
  psyclone.pdf
  src/psyclone/dynamo0p1.py
  src/psyclone/dynamo0p3.py
  src/psyclone/gocean0p1.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/container.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/psyir/transformations/intrinsics/matmul2code_trans.py
  src/psyclone/tests/psyir/frontend/fparser2_where_handler_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
  src/psyclone/tests/psyir/transformations/arrayrange2loop_trans_test.py
Labels: ready to be merged

#842 841 fix ocean eg1
  changelog
  examples/gocean/eg1/.gitignore
  examples/gocean/eg1/Makefile
Labels: ready to be merged

#825 646 only dependency lfric
  changelog
  doc/developer_guide/modules.rst
  doc/user_guide/psyke.rst
  psyclone.pdf
  src/psyclone/domain/lfric/__init__.py
  src/psyclone/domain/lfric/arg_ordering.py
  src/psyclone/domain/lfric/kern_call_acc_arg_list.py
  src/psyclone/domain/lfric/kern_call_arg_list.py
  src/psyclone/domain/lfric/kern_stub_arg_list.py
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/dependency_test.py
  src/psyclone/tests/domain/lfric/arg_ordering_test.py
  src/psyclone/tests/domain/lfric/lfric_ref_elem_stubgen_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_extract_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/generator_test.py
  src/psyclone/tests/utilities.py
  src/psyclone/tests/utilities_test.py
  src/psyclone/transformations.py
Labels: LFRic, ready to be merged

#799 757 mixed prec kernel proc
  changelog
  doc/user_guide/kernel_layer.rst
  psyclone.pdf
  src/psyclone/parse/kernel.py
  src/psyclone/psyGen.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/parse/kernel_test.py
Labels: LFRic, ready to be merged

#854 jupyter nemo tutorial (for issue #848)
  .gitignore
  MANIFEST.in
  README.md
  changelog
  doc/developer_guide/conf.py
  doc/user_guide/conf.py
  doc/user_guide/index.rst
  doc/user_guide/tutorial.rst
  psyclone.pdf
  setup.py
  tutorial/fparser2/parsing_fortran.ipynb
  tutorial/introduction.ipynb
  tutorial/nemo/nemo_example1.ipynb
  tutorial/nemo/nemo_example2.ipynb
  tutorial/nemo/nemo_example3.ipynb
  tutorial/nemo/nemo_example4.ipynb
  tutorial/psyir/psyir_example1.ipynb
  tutorial/psyir/psyir_example2.ipynb
Labels: ready to be merged

#839 Minimise reliance on specific descriptor argument names (for #836)
  changelog
  psyclone.pdf
  src/psyclone/domain/lfric/arg_ordering.py
  src/psyclone/domain/lfric/function_space.py
  src/psyclone/domain/lfric/kern_call_arg_list.py
  src/psyclone/domain/lfric/kern_stub_arg_list.py
  src/psyclone/domain/lfric/lfric_arg_descriptor.py
  src/psyclone/dynamo0p3.py
  src/psyclone/dynamo0p3_builtins.py
  src/psyclone/gocean1p0.py
  src/psyclone/parse/kernel.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/nodes/loop.py
  src/psyclone/tests/dependency_test.py
  src/psyclone/tests/domain/lfric/arg_ordering_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/dynamo0p3_builtins_test.py
  src/psyclone/tests/dynamo0p3_cma_test.py
  src/psyclone/tests/dynamo0p3_lma_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/gocean1p0_test.py
  src/psyclone/tests/psyGen_test.py
Labels: LFRic, ready to be merged

#862 #860 Replace links with sphinx-includes, and changed reference file
  changelog
  doc/bibliography/zz_bibliography.rst
  doc/developer_guide/interface_example.py
  doc/developer_guide/references.bib
  doc/developer_guide/zz_bibliography.rst
  doc/user_guide/references.bib
  doc/user_guide/zz_bibliography.rst
  src/psyclone/psyGen.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
Labels: bug, enhancement, ready to be merged
