Repository stfc/PSyclone, pull requests merged in 2020-09, with the labels that each got.

#844 Allow long lines in incoming Fortran (closes #809)
  changelog
  doc/user_guide/getting_going.rst
  doc/user_guide/line_length.rst
  doc/user_guide/psyclone_script.rst
  examples/gocean/README.md
  examples/gocean/eg2/Makefile
  examples/gocean/eg5/Makefile
  examples/gocean/eg6/Makefile
  examples/gocean/eg7/Makefile
  examples/line_length/Makefile
  examples/nemo/eg3/Makefile
  examples/nemo/eg3/README.md
  psyclone.pdf
  src/psyclone/generator.py
  src/psyclone/tests/generator_test.py
  src/psyclone/tests/nemo/test_files/explicit_do_long_line.f90
Labels: NEMO, ready to be merged

#882 Remove pylint required version (closes #881)
  changelog
  doc/developer_guide/system_specific_setup.rst
  setup.py
Labels: ready to be merged

#884 Rename and relocate the psyclone script documentation page (#883)
  changelog
  doc/user_guide/getting_going.rst
  doc/user_guide/index.rst
  doc/user_guide/psyclone_command.rst
  psyclone.pdf
Labels: ready to be merged

#823 Update access for kernels on ANY_SPACE that loop over DoFs (for #471)
  changelog
  doc/user_guide/dynamo0p3.rst
  doc/user_guide/stub_gen.rst
  psyclone.pdf
  src/psyclone/domain/lfric/lfric_arg_descriptor.py
  src/psyclone/dynamo0p3.py
  src/psyclone/dynamo0p3_builtins.py
  src/psyclone/gen_kernel_stub.py
  src/psyclone/parse/algorithm.py
  src/psyclone/parse/dynamo0p3_builtins_mod.f90
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/dynamo0p3_builtins_test.py
  src/psyclone/tests/dynamo0p3_cma_test.py
  src/psyclone/tests/dynamo0p3_lma_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/generator_test.py
  src/psyclone/tests/stubgen_test.py
  src/psyclone/tests/test_files/dynamo0p3/1.14_single_invoke_dofs.f90
  src/psyclone/tests/test_files/dynamo0p3/15.1.1_builtin_and_normal_kernel_invoke_2.f90
  src/psyclone/tests/test_files/dynamo0p3/15.1.6_aX_plus_bY_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.11.1_X_times_Y_deduce_space.f90
  src/psyclone/tests/test_files/dynamo0p3/15.11.2_X_times_Y_different_spaces.f90
  src/psyclone/tests/test_files/dynamo0p3/15.12.1_invalid_builtin_kernel.f90
  src/psyclone/tests/test_files/dynamo0p3/15.12.2_builtin_with_use.f90
  src/psyclone/tests/test_files/dynamo0p3/15.13.1_aX_plus_Y_builtin_set_by_value.f90
  src/psyclone/tests/test_files/dynamo0p3/15.14.1_multi_aX_plus_Y_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.14.2_multiple_set_kernels.f90
  src/psyclone/tests/test_files/dynamo0p3/15.14.3_sum_setval_field_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.14.4_builtin_and_normal_kernel_invoke.f90
  src/psyclone/tests/test_files/dynamo0p3/invalid_builtins_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/not_dofs_builtins_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_dofs_mod.f90
Labels: LFRic, ready to be merged

#872 Capture routine symbols when constructing Container (closes #736 #858)
  changelog
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/frontend/fparser2_container_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/nodes/node_test.py
Labels: ready to be merged

#850 Add support for distributed memory in GOcean (issue #849)
  changelog
  doc/user_guide/distributed_memory.rst
  examples/gocean/eg1/Makefile
  examples/gocean/eg1/compute_cu_mod.f90
  examples/gocean/eg1/compute_cv_mod.f90
  examples/gocean/eg1/compute_h_mod.f90
  examples/gocean/eg1/compute_pnew_mod.f90
  examples/gocean/eg1/compute_unew_mod.f90
  examples/gocean/eg1/compute_vnew_mod.f90
  examples/gocean/eg1/compute_z_mod.f90
  examples/gocean/eg1/dag.ipynb
  examples/gocean/eg1/openmp.ipynb
  examples/gocean/eg1/runme_loop_fuse.py
  examples/gocean/eg1/runme_openacc.py
  examples/gocean/eg1/runme_openmp.py
  psyclone.pdf
  src/psyclone/dynamo0p3.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/nodes/loop.py
  src/psyclone/tests/dependency_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean_extract_test.py
  src/psyclone/tests/gocean1p0_config_test.py
  src/psyclone/tests/gocean1p0_opencl_test.py
  src/psyclone/tests/gocean1p0_stencil_test.py
  src/psyclone/tests/gocean1p0_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/backend/psyir_openmp_test.py
  src/psyclone/tests/psyir/nodes/loop_test.py
  src/psyclone/tests/psyir/nodes/node_test.py
  src/psyclone/tests/psyir/nodes/psy_data_node_test.py
  src/psyclone/tests/psyir/transformations/kernel_transformation_test.py
  src/psyclone/tests/psyir/transformations/profile_test.py
  src/psyclone/tests/psyir/transformations/psy_data_trans_test.py
  src/psyclone/tests/psyir/transformations/read_only_verify_test.py
  src/psyclone/tests/psyir/transformations/region_trans_test.py
  src/psyclone/tests/test_files/gocean1p0/compute_cu_mod.f90
  src/psyclone/tests/test_files/gocean1p0/kernel_requires_grid_props.f90
  src/psyclone/tests/test_files/gocean1p0/single_invoke_two_identical_kernels.f90
  src/psyclone/transformations.py
Labels: ready to be merged

#875 Use GH_SCALAR for scalars names in LFRic (for #774)
  changelog
  doc/user_guide/dynamo0p3.rst
  doc/user_guide/kernel_layer.rst
  doc/user_guide/stub_gen.rst
  examples/lfric/eg3/w3_solver_kernel_mod.F90
  examples/lfric/eg8/apply_variable_hx_kernel_mod.F90
  examples/line_length/testkern_qr.F90
  psyclone.pdf
  src/psyclone/domain/lfric/lfric_arg_descriptor.py
  src/psyclone/dynamo0p3.py
  src/psyclone/parse/dynamo0p3_builtins_mod.f90
  src/psyclone/psyGen.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/dynamo0p3_builtins_test.py
  src/psyclone/tests/dynamo0p3_cma_test.py
  src/psyclone/tests/dynamo0p3_lma_test.py
  src/psyclone/tests/dynamo0p3_multigrid_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/test_files/dynamo0p3/16.2_integer_scalar_sum.f90
  src/psyclone/tests/test_files/dynamo0p3/16.4.1_multiple_scalar_sums2.f90
  src/psyclone/tests/test_files/dynamo0p3/20.0.1_cma_assembly_scalar.f90
  src/psyclone/tests/test_files/dynamo0p3/broken_builtins_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/columnwise_op_asm_kernel_scalar_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/columnwise_op_mul_2scalars_kernel_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/argument_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/int_reduction_builtins_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/invalid_builtins_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/multi_reduction_builtins_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/not_dofs_builtins_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/ru_kernel_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/simple_with_reduction.f90
  src/psyclone/tests/test_files/dynamo0p3/simple_with_scalars.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_any_discontinuous_space_op_1_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_any_space_1_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_any_space_2_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_mesh_prop_face_qr_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_mesh_prop_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_mesh_ref_elem_props_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_one_int_scalar_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_operator_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_operator_nofield_scalar_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_operator_read_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_qr.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_qr_edges_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_ref_elem_all_faces_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_ref_elem_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_ref_elem_out_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_two_int_scalars_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_two_real_scalars_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_two_scalars_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_w3_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_write_op_and_fld_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_wrong_mod_name.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_wrong_shape_qr_mod.F90
  src/psyclone/transformations.py
Labels: LFRic, ready for review, under review

#893 Change to operates_on metadata in LFRic
  changelog
  doc/developer_guide/APIs.rst
  doc/user_guide/built_ins.rst
  doc/user_guide/dynamo0p3.rst
  doc/user_guide/kernel_layer.rst
  doc/user_guide/stub_gen.rst
  examples/lfric/eg12/colouring_and_omp.py
  examples/lfric/eg3/colouring_and_omp.py
  examples/lfric/eg3/matrix_vector_mm_mod.F90
  examples/lfric/eg3/w3_solver_kernel_mod.F90
  examples/lfric/eg9/colouring_and_omp.py
  examples/lfric/scripts/colouring_and_omp.py
  psyclone.pdf
  src/psyclone/domain/lfric/lfric_arg_descriptor.py
  src/psyclone/dynamo0p3.py
  src/psyclone/dynamo0p3_builtins.py
  src/psyclone/gen_kernel_stub.py
  src/psyclone/parse/dynamo0p3_builtins_mod.f90
  src/psyclone/parse/kernel.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_extract_test.py
  src/psyclone/tests/dynamo0p3_builtins_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/parse/kernel_test.py
  src/psyclone/tests/stubgen_test.py
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/argument_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_2qr_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_dofs_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_stencil_mod.f90
Labels: LFRic, ready to be merged

#887 Create Symbol for unknown symbols (closes #876)
  changelog
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/psyir/symbols/datasymbol.py
  src/psyclone/psyir/symbols/symbol.py
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/tests/domain/gocean/transformations/globalstoargs_test.py
  src/psyclone/tests/psyir/frontend/fparser2_literals_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/nodes/node_test.py
  src/psyclone/tests/psyir/symbols/datasymbol_test.py
  src/psyclone/tests/psyir/symbols/symbol_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
  src/psyclone/transformations.py
Labels: PSyIR, ready to be merged

#904 Fix bug when handling use statements (closes #903)
  changelog
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
Labels: NEMO, PSyIR, ready to be merged

#877 redundant comp bug (closes #867)
  changelog
  doc/developer_guide/APIs.rst
  psyclone.pdf
  src/psyclone/dynamo0p3.py
  src/psyclone/psyGen.py
  src/psyclone/tests/dynamo0p3_haloex_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/test_files/dynamo0p3/15.7.3_setval_X_before_user_kern.f90
Labels: LFRic, ready to be merged

#907 906 refactor psydata
  changelog
  psyclone.pdf
  src/psyclone/domain/gocean/transformations/gocean_extract_trans.py
  src/psyclone/domain/lfric/transformations/lfric_extract_trans.py
  src/psyclone/psyir/nodes/__init__.py
  src/psyclone/psyir/transformations/extract_trans.py
  src/psyclone/psyir/transformations/profile_trans.py
  src/psyclone/psyir/transformations/psy_data_trans.py
  src/psyclone/psyir/transformations/read_only_verify_trans.py
  src/psyclone/tests/domain/gocean/transformations/gocean_extract_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_extract_test.py
  src/psyclone/tests/psyir/transformations/extract_test.py
  src/psyclone/tests/psyir/transformations/profile_test.py
  src/psyclone/tests/psyir/transformations/psy_data_trans_test.py
  src/psyclone/tests/psyir/transformations/read_only_verify_test.py
Labels: enhancement, ready to be merged
