Repository stfc/PSyclone, pull requests merged in 2020-06, with the labels that each got.

#782 780 refactor function space
  changelog
  examples/lfric/eg12/colouring_and_omp.py
  examples/lfric/eg3/colouring_and_omp.py
  examples/lfric/eg9/colouring_and_omp.py
  examples/lfric/scripts/colouring_and_omp.py
  psyclone.pdf
  src/psyclone/domain/lfric/__init__.py
  src/psyclone/domain/lfric/function_space.py
  src/psyclone/dynamo0p3.py
  src/psyclone/dynamo0p3_builtins.py
  src/psyclone/parse/algorithm.py
  src/psyclone/tests/domain/lfric/transformations/lfric_extract_test.py
  src/psyclone/tests/dynamo0p3_basis_test.py
  src/psyclone/tests/dynamo0p3_lma_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/generator_test.py
  src/psyclone/transformations.py
Labels: LFRic, ready to be merged

#785 Make Loop Node variable a DataSymbol (issue #679)
  changelog
  examples/psyir/create.py
  src/psyclone/dynamo0p1.py
  src/psyclone/dynamo0p3.py
  src/psyclone/gocean0p1.py
  src/psyclone/gocean1p0.py
  src/psyclone/nemo.py
  src/psyclone/psyir/backend/c.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/loop.py
  src/psyclone/psyir/tools/dependency_tools.py
  src/psyclone/psyir/transformations/intrinsics/matmul2code_trans.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/gocean1p0_test.py
  src/psyclone/tests/nemo/nemo_psy_test.py
  src/psyclone/tests/nemo/transformations/profiling/nemo_profile_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/frontend/where_handler_test.py
  src/psyclone/tests/psyir/nodes/loop_test.py
  src/psyclone/tests/psyir/nodes/node_test.py
  src/psyclone/tests/psyir/transformations/transformations_test.py
Labels: PSyIR, ready to be merged

#795 add support for finding the closest ancestor Schedule or Container Node (closes 793)
  changelog
  src/psyclone/dynamo0p1.py
  src/psyclone/dynamo0p3.py
  src/psyclone/gocean0p1.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/psyir/transformations/intrinsics/matmul2code_trans.py
  src/psyclone/tests/psyir/nodes/node_test.py
Labels: PSyIR, ready to be merged

#779 Support unrecognised declarations (closes #763)
  changelog
  doc/user_guide/psyir.rst
  psyclone.pdf
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/symbols/__init__.py
  src/psyclone/psyir/symbols/datatypes.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/symbols/datatype_test.py
Labels: NEMO, PSyIR, ready to be merged

#792 Return kernel argument objects instead of names from unique declarations (for #789)
  changelog
  psyclone.pdf
  src/psyclone/dynamo0p3.py
  src/psyclone/psyGen.py
  src/psyclone/tests/dynamo0p3_test.py
Labels: LFRic, ready to be merged

#804 fix to unique_declns_by_intent (closes issue #801)
  changelog
  psyclone.pdf
  src/psyclone/psyGen.py
  src/psyclone/tests/dynamo0p3_test.py
Labels: PSyIR, bug, ready to be merged

#794 Restructure LFRicArgDescriptor (for #788)
  changelog
  psyclone.pdf
  src/psyclone/domain/lfric/__init__.py
  src/psyclone/domain/lfric/lfric_arg_descriptor.py
  src/psyclone/dynamo0p3.py
  src/psyclone/psyGen.py
  src/psyclone/tests/dynamo0p3_builtins_test.py
  src/psyclone/tests/dynamo0p3_cma_test.py
  src/psyclone/tests/dynamo0p3_lma_test.py
  src/psyclone/tests/dynamo0p3_multigrid_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
Labels: LFRic, ready to be merged

#807 (closes #805) fix _do_construct_handler to put bare DO in CodeBlock
  changelog
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/psyir/frontend/fparser2_bound_intrinsic_test.py
  src/psyclone/tests/psyir/frontend/fparser2_do_handler_test.py
  src/psyclone/tests/psyir/frontend/fparser2_fortran_use_test.py
  src/psyclone/tests/psyir/frontend/fparser2_literals_test.py
  src/psyclone/tests/psyir/frontend/fparser2_size_intrinsic_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/frontend/fparser2_where_handler_test.py
Labels: NEMO, PSyIR, ready to be merged

#816 #810 compile dl esm inf automatically
  changelog
  doc/user_guide/examples.rst
  examples/gocean/eg2/Makefile
  examples/gocean/eg5/Makefile
  examples/gocean/eg5/README.md
  examples/gocean/eg6/Makefile
  examples/gocean/eg6/README.md
  lib/profiling/template/Makefile
  psyclone.pdf
Labels: GOcean, enhancement, ready to be merged
