Repository stfc/PSyclone, pull requests merged in 2020-05, with the labels that each got.

#686 matmul2code trans (issue #664)
  changelog
  doc/user_guide/transformations.rst
  examples/lfric/eg15/matvec_opt.py
  psyclone.pdf
  src/psyclone/psyir/nodes/node.py
  src/psyclone/psyir/nodes/reference.py
  src/psyclone/psyir/transformations/__init__.py
  src/psyclone/psyir/transformations/matmul2code_trans.py
  src/psyclone/tests/psyir/nodes/node_test.py
  src/psyclone/tests/psyir/nodes/reference_test.py
  src/psyclone/tests/psyir/transformations/matmul2code_trans_test.py
Labels: LFRic, ready to be merged

#747 [LFRic] Implement support for mesh properties (closes #18)
  changelog
  examples/lfric/eg9/advective_inc_alg_mod.x90
  examples/lfric/eg9/rtheta_bd_kernel_mod.F90
  psyclone.pdf
  src/psyclone/dynamo0p3.py
  src/psyclone/dynamo0p3_builtins.py
  src/psyclone/parse/kernel.py
  src/psyclone/tests/domain/lfric/lfric_mesh_props_stubgen_test.py
  src/psyclone/tests/domain/lfric/lfric_mesh_props_test.py
  src/psyclone/tests/lfric_ref_elem_test.py
  src/psyclone/tests/parse/kernel_test.py
  src/psyclone/tests/test_files/dynamo0p3/24.1_mesh_prop_invoke.f90
  src/psyclone/tests/test_files/dynamo0p3/24.2_duplicate_mesh_prop_invoke.f90
  src/psyclone/tests/test_files/dynamo0p3/24.3_mesh_plus_ref_elem_invoke.f90
  src/psyclone/tests/test_files/dynamo0p3/24.4_mesh_plus_face_qr_invoke.f90
  src/psyclone/tests/test_files/dynamo0p3/24.5_mesh_plus_ref_elem_plus_qr_invoke.f90
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/argument_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/mesh_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_mesh_prop_face_qr_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_mesh_prop_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_mesh_ref_elem_props_mod.F90
Labels: LFRic, ready to be merged

#731 668 psy data init
  changelog
  config/psyclone.cfg
  doc/developer_guide/index.rst
  doc/developer_guide/psy_data.rst
  doc/developer_guide/psyir.rst
  doc/user_guide/configuration.rst
  doc/user_guide/profiling.rst
  doc/user_guide/psy_data.rst
  doc/user_guide/psyke.rst
  examples/gocean/eg5/Makefile
  examples/gocean/eg5/README.md
  examples/gocean/eg5/test.x90
  examples/gocean/eg6/test.x90
  lib/extract/dl_esm_inf/netcdf/kernel_data_netcdf.f90
  lib/profiling/dl_timer/dl_timer.f90
  lib/profiling/drhook/drhook_psy.f90
  lib/profiling/nvidia/README.md
  lib/profiling/nvidia/nvtx_prof.f90
  lib/profiling/simple_timing/simple_timing.f90
  lib/profiling/template/dummy_lib.f90
  psyclone.pdf
  src/psyclone/configuration.py
  src/psyclone/domain/gocean/nodes/gocean_extract_node.py
  src/psyclone/domain/gocean/transformations/gocean_extract_trans.py
  src/psyclone/psyir/nodes/extract_node.py
  src/psyclone/psyir/nodes/profile_node.py
  src/psyclone/psyir/nodes/psy_data_node.py
  src/psyclone/psyir/transformations/psy_data_trans.py
  src/psyclone/tests/config_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean_extract_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_extract_test.py
  src/psyclone/tests/nemo/transformations/profiling/nemo_profile_test.py
  src/psyclone/tests/psyir/transformations/profile_test.py
  src/psyclone/tests/psyir/transformations/psy_data_trans_test.py
Labels: ready to be merged

#760 W2trace horizontal and vertical spaces (for #751)
  changelog
  doc/user_guide/conf.py
  doc/user_guide/dynamo0p3.rst
  examples/lfric/eg11/scaled_matrix_vector_kernel_mod.F90
  examples/lfric/eg3/w3_solver_kernel_mod.F90
  examples/lfric/eg5/conservative_flux_kernel_mod.F90
  examples/lfric/eg5/subgrid_coeffs_kernel_mod.F90
  examples/lfric/eg8/apply_variable_hx_kernel_mod.F90
  examples/lfric/eg8/scaled_matrix_vector_kernel_mod.F90
  examples/lfric/eg9/rtheta_kernel_mod.F90
  examples/lfric/eg9/rtheta_wtheta_kernel_mod.F90
  examples/lfric/eg9/sample_poly_adv_kernel_mod.F90
  psyclone.pdf
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/dynamo0p3_basis_test.py
  src/psyclone/tests/dynamo0p3_lma_test.py
  src/psyclone/tests/dynamo0p3_quadrature_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/lfric_build.py
  src/psyclone/tests/test_files/dynamo0p3/1.5.1_single_invoke_write_multi_fs.f90
  src/psyclone/tests/test_files/dynamo0p3/1.5.4_single_invoke_write_anyspace_w2trace.f90
  src/psyclone/tests/test_files/dynamo0p3/1.5_single_invoke_fs.f90
  src/psyclone/tests/test_files/dynamo0p3/14.3_halo_readers_all_fs.f90
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/argument_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/fs_continuity_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_fs_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_stencil_fs_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_write_any_w2trace_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_write_w2broken_w1_mod.f90
  src/psyclone/transformations.py
Labels: LFRic, ready to be merged

#773 Manage symbols in the Fortran parameter initializations (issues 772 and 715)
  changelog
  src/psyclone/psyGen.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/schedule.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/nodes/schedule_test.py
Labels: PSyIR, ready to be merged

#776 matmul2code bug fix (issue #775)
  changelog
  examples/lfric/eg15/matvec_opt.py
  psyclone.pdf
  src/psyclone/psyir/transformations/intrinsics/matmul2code_trans.py
  src/psyclone/tests/psyir/transformations/intrinsics/matmul2code_trans_test.py
Labels: PSyIR, bug, ready for review

#735 732 capture whether symbols are public or private
  changelog
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/symbols/containersymbol.py
  src/psyclone/psyir/symbols/datasymbol.py
  src/psyclone/psyir/symbols/symbol.py
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/symbols/containersymbol_test.py
  src/psyclone/tests/psyir/symbols/datasymbol_test.py
  src/psyclone/tests/psyir/symbols/symbol_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
  src/psyclone/transformations.py
Labels: NEMO, ready to be merged

#770 Fix PSyIR Fortran backend precedence bug (issue #766)
  changelog
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/tests/psyir/backend/fortran_test.py
Labels: PSyIR, bug, ready to be merged

#769 Add *N and double precision support to fortran front end (issue 588)
  changelog
  examples/check_examples
  examples/nemo/README.md
  examples/nemo/eg4/README.md
  examples/nemo/eg4/sir_trans_intrinsics.py
  psyclone.pdf
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
Labels: PSyIR, under review
