Repository stfc/PSyclone, pull requests merged in 2021-02, with the labels that each got.

#1093 Add fparser2reader support for the call statement (closes #1088)
  changelog
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/domain/nemo/transformations/nemo_allarrayrange2loop_trans_test.py
  src/psyclone/tests/nemo/test_files/array_syntax.f90
  src/psyclone/tests/psyir/frontend/fparser2_call_test.py
  src/psyclone/tests/psyir/frontend/fparser2_where_handler_test.py
Labels: PSyIR, ready to be merged

#1080 #1084. GOcean Argument datatypes and PSyIR access expressions
  changelog
  examples/gocean/eg8/inc_field_mod.f90
  psyclone.pdf
  src/psyclone/gocean1p0.py
  src/psyclone/psyGen.py
  src/psyclone/tests/domain/gocean/goloop_test.py
  src/psyclone/tests/gocean1p0_test.py
  src/psyclone/tests/psyGen_test.py
Labels: GOcean, PSyIR, ready to be merged

#1052 Add data type metadata for fields and operators in remaining Python test modules (completes #817)
  changelog
  examples/lfric/eg7/columnwise_op_asm_kernel_mod.F90
  psyclone.pdf
  src/psyclone/tests/domain/lfric/lfric_domain_kernels_test.py
  src/psyclone/tests/domain/lfric/lfric_mesh_props_stubgen_test.py
  src/psyclone/tests/domain/lfric/lfric_mesh_props_test.py
  src/psyclone/tests/domain/lfric/lfric_ref_elem_stubgen_test.py
  src/psyclone/tests/domain/lfric/lfric_stencil_tests.py
  src/psyclone/tests/dynamo0p3_multigrid_test.py
  src/psyclone/tests/dynamo0p3_quadrature_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/lfric_ref_elem_test.py
  src/psyclone/tests/parse/kernel_test.py
  src/psyclone/tests/parse/parse_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/test_files/dynamo0p3/columnwise_op_app_anydspace_kernel_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/columnwise_op_app_kernel_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/columnwise_op_app_same_fs_kernel_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/columnwise_op_asm_field_kernel_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/columnwise_op_asm_kernel_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/argument_mod.F90
Labels: LFRic, ready to be merged

#1092 Bug fix for auto-invoke profiling and return statements (closes #1091)
  changelog
  src/psyclone/profiler.py
  src/psyclone/psyir/transformations/psy_data_trans.py
  src/psyclone/tests/psyir/transformations/profile_test.py
Labels: NEMO, PSyData, PSyIR, bug, ready to be merged

#1087 #1086 PSyIR Fortran backend for routines merges symboltables to a single scope
  changelog
  psyclone.pdf
  src/psyclone/psyGen.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/tests/domain/gocean/transformations/globalstoargs_test.py
  src/psyclone/tests/domain/nemo/nodes/nemo_loop_test.py
  src/psyclone/tests/domain/nemo/transformations/nemo_allarrayrange2loop_trans_test.py
  src/psyclone/tests/domain/nemo/transformations/nemo_arrayrange2loop_trans_test.py
  src/psyclone/tests/domain/nemo/transformations/nemo_outerarrayrange2loop_trans_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/backend/psyir_openmp_test.py
  src/psyclone/tests/psyir/nodes/assignment_test.py
  src/psyclone/tests/psyir/nodes/container_test.py
  src/psyclone/tests/psyir/nodes/ifblock_test.py
  src/psyclone/tests/psyir/nodes/kernel_schedule_test.py
  src/psyclone/tests/psyir/nodes/loop_test.py
  src/psyclone/tests/psyir/transformations/arrayrange2loop_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/abs2code_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/matmul2code_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/min2code_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/sign2code_trans_test.py
Labels: PSyIR, ready to be merged

#1062 1037 intel compiler fixes for lfric examples
  changelog
  examples/README.md
  examples/lfric/full_example/main.x90
  examples/lfric/full_example/testkern_w0_mod.f90
  examples/lfric/full_example_extract/main.x90
  examples/lfric/full_example_extract/testkern_w0_mod.f90
  examples/lfric/full_example_netcdf/main.x90
  examples/lfric/full_example_netcdf/testkern_w0_mod.f90
  lib/README.md
  psyclone.pdf
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/README.md
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/partition_mod.F90
  tutorial/practicals/LFRic/building_code/1_simple_kernels/part1/simple_kernels_driver.f90
  tutorial/practicals/LFRic/building_code/1_simple_kernels/part2/simple_kernels_driver.f90
  tutorial/practicals/LFRic/building_code/2_built_ins/builtins_driver.f90
  tutorial/practicals/LFRic/building_code/3_time_evolution/time_evolution_driver.f90
  tutorial/practicals/LFRic/building_code/4_psydata/time_evolution_driver.f90
Labels: LFRic, bug, ready to be merged

#1054 Filter kernel arguments by intrinsic type in unique_declarations and check data types (for #1047)
  changelog
  psyclone.pdf
  src/psyclone/dynamo0p3.py
  src/psyclone/psyGen.py
  src/psyclone/tests/domain/lfric/lfric_field_stubgen_test.py
  src/psyclone/tests/domain/lfric/lfric_field_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/test_files/dynamo0p3/4.16_multikernel_invokes_real_int_scalar_invalid.f90
Labels: LFRic, enhancement, ready to be merged

#1102 Improvements to StructureType support (towards #1031)
  changelog
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/array_of_structures_reference.py
  src/psyclone/psyir/nodes/structure_reference.py
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/tests/psyir/backend/sir_test.py
  src/psyclone/tests/psyir/frontend/fparser2_derived_type_test.py
  src/psyclone/tests/psyir/frontend/fparser2_find_or_create_symbol_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/frontend/fparser2_where_handler_test.py
  src/psyclone/tests/psyir/nodes/array_of_structures_reference_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
Labels: NEMO, PSyIR, ready to be merged

#1111 Support use of Call create method in a subclass of Call (closes #1110)
  changelog
  src/psyclone/psyir/nodes/call.py
  src/psyclone/tests/psyir/nodes/call_test.py
Labels: PSyIR, ready to be merged

#1121 (closes #1120) add bibtex_bibfiles entry to conf.py for UG and DG
  changelog
  doc/developer_guide/conf.py
  doc/user_guide/conf.py
Labels: ready to be merged

#1058 #917 Trigger compilation of PSyData profile wrapper libraries.
  changelog
  examples/gocean/eg5/Makefile
  psyclone.pdf
Labels: enhancement, ready to be merged

#1090 Builtins for integer-valued fields
  changelog
  doc/developer_guide/APIs.rst
  doc/developer_guide/parsing.rst
  doc/user_guide/built_ins.rst
  doc/user_guide/dynamo0p3.rst
  doc/user_guide/psy_layer.rst
  psyclone.pdf
  src/psyclone/domain/lfric/lfric_arg_descriptor.py
  src/psyclone/dynamo0p3_builtins.py
  src/psyclone/parse/dynamo0p3_builtins_mod.f90
  src/psyclone/tests/domain/lfric/lfric_integer_builtins_test.py
  src/psyclone/tests/dynamo0p3_builtins_test.py
  src/psyclone/tests/test_files/dynamo0p3/15.21.1_int_X_plus_Y_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.21.2_int_inc_X_plus_Y_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.22.1_int_X_minus_Y_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.22.2_int_inc_X_minus_Y_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.23.1_int_X_times_Y_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.23.2_int_inc_X_times_Y_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.24.1_int_a_times_X_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.24.2_int_inc_a_times_X_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.27.1_int_setval_c_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.27.2_int_setval_X_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/invalid_builtins_mod.f90
Labels: LFRic, enhancement, ready to be merged

#1105 Add support for program, module and subroutine to Fparser2Reader (closes #1104)
  changelog
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/container.py
  src/psyclone/psyir/nodes/routine.py
  src/psyclone/tests/psyir/frontend/fparser2_generate_psyir_test.py
  src/psyclone/tests/psyir/frontend/fparser2_module_handler_test.py
  src/psyclone/tests/psyir/frontend/fparser2_program_handler_test.py
  src/psyclone/tests/psyir/frontend/fparser2_subroutine_handler_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/nodes/container_test.py
Labels: PSyIR, ready to be merged

#1101 Remove check on dimensioning symbols (towards #1089)
  changelog
  src/psyclone/psyir/symbols/datatypes.py
  src/psyclone/tests/psyir/symbols/datatype_test.py
Labels: NEMO, PSyIR, ready to be merged

#1128 Fix RTD builds of UG and DG (closes #1127)
  changelog
  doc/developer_guide/conf.py
  doc/user_guide/conf.py
  psyclone.pdf
Labels: ready to be merged

#1117 Correct intent for "GH_WRITE" to "inout" in kernels (for #1003)
  changelog
  doc/user_guide/dynamo0p3.rst
  examples/lfric/eg5/subgrid_coeffs_kernel_mod.F90
  examples/lfric/eg7/columnwise_op_asm_kernel_mod.F90
  examples/lfric/eg9/sample_poly_adv_kernel_mod.F90
  psyclone.pdf
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/domain/lfric/lfric_field_stubgen_test.py
  src/psyclone/tests/dynamo0p3_basis_test.py
  src/psyclone/tests/dynamo0p3_cma_test.py
  src/psyclone/tests/dynamo0p3_lma_test.py
  src/psyclone/tests/dynamo0p3_quadrature_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/test_files/dynamo0p3/4.8_multikernel_invokes.f90
  src/psyclone/tests/test_files/dynamo0p3/assemble_weak_derivative_w3_w2_kernel_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/columnwise_op_app_anydspace_kernel_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/columnwise_op_app_w2v_kernel_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/columnwise_op_asm_field_kernel_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/columnwise_op_asm_kernel_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/columnwise_op_asm_kernel_scalar_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/columnwise_op_asm_same_fs_kernel_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_any_discontinuous_space_op_1_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_anyw2_operator_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_different_any_dscnt_space_stencil_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_eval_anydspace1_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_eval_anydspace2_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_eval_op_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_eval_op_to_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_fs_int_field_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_fs_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_operator_2_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_operator_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_operator_nofield_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_operator_nofield_scalar_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_operator_read_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_same_any_dscnt_space_stencil_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_stencil_depth_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_stencil_w3_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_stencil_xory1d_w3_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_w3_only_vector_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_write_any_anyd_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_write_op_and_fld_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_write_w2broken_w1_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_writers_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_wtheta_mod.f90
  tutorial/practicals/LFRic/building_code/1_simple_kernels/part1/solutions/setval_field_w3_kernel_mod.f90
Labels: LFRic, bug, ready to be merged

#1063 Basic support for specialisation of symbols (towards #935)
  changelog
  doc/developer_guide/psyir_symbols.rst
  doc/user_guide/psyir.rst
  examples/psyir/modify.py
  psyclone.pdf
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/symbols/symbol.py
  src/psyclone/tests/psyir/frontend/fparser2_call_test.py
  src/psyclone/tests/psyir/symbols/symbol_test.py
Labels: PSyIR, ready to be merged
