Repository stfc/PSyclone, pull requests merged in 2021-04, with the labels that each got.

#1191 Rationalise config file list processing (closes #1163)
  changelog
  config/psyclone.cfg
  doc/developer_guide/psy_data.rst
  doc/user_guide/configuration.rst
  src/psyclone/configuration.py
  src/psyclone/tests/config_test.py
  src/psyclone/tests/domain/nemo/test_files/nemo_test.cfg
  tutorial/practicals/LFRic/distributed_memory/2_annexed_dofs/psyclone.cfg
  tutorial/practicals/LFRic/distributed_memory/3_overlapping_comms/psyclone.cfg
  tutorial/practicals/LFRic/single_node/1_openmp/psyclone.cfg
Labels: ready to be merged

#1196 Moving scalar and field tests (for #1106)
  changelog
  psyclone.pdf
  src/psyclone/tests/domain/lfric/lfric_field_codegen_test.py
  src/psyclone/tests/domain/lfric/lfric_field_mdata_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_codegen_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_mdata_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_test.py
  src/psyclone/tests/dynamo0p3_test.py
Labels: LFRic, enhancement, ready to be merged

#1186 (closes #1173) reshape LFRic mesh map
  changelog
  doc/user_guide/dynamo0p3.rst
  examples/lfric/eg10/Makefile
  examples/lfric/eg10/prolong_kernel_mod.F90
  examples/lfric/eg10/restrict_kernel_mod.F90
  psyclone.pdf
  src/psyclone/domain/lfric/kern_call_arg_list.py
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/dynamo0p3_multigrid_test.py
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/mesh_map_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/mesh_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/prolong_test_kernel_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/prolong_vec_kernel_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/restrict_kernel_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/restrict_test_kernel_mod.f90
Labels: LFRic, ready to be merged, under review

#1205 (closes #870) rm support for iterates_over in lfric metadata
  changelog
  psyclone.pdf
  src/psyclone/domain/lfric/lfric_builtins.py
  src/psyclone/dynamo0p3.py
  src/psyclone/parse/kernel.py
  src/psyclone/parse/lfric_builtins_mod.f90
  src/psyclone/tests/domain/lfric/lfric_field_mdata_test.py
  src/psyclone/tests/domain/lfric/lfric_loop_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/parse/kernel_test.py
  src/psyclone/tests/test_files/dynamo0p3/testkern_mod.F90
  src/psyclone/transformations.py
Labels: LFRic, ready to be merged, under review

#1156 [LFRic] Remove support for old-style `arg_type` descriptor (for #874)
  changelog
  examples/lfric/eg10/prolong_kernel_mod.F90
  examples/lfric/eg10/restrict_kernel_mod.F90
  psyclone.pdf
  src/psyclone/domain/lfric/lfric_arg_descriptor.py
  src/psyclone/tests/domain/lfric/lfric_loop_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_mdata_test.py
  src/psyclone/tests/dynamo0p3_cma_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/test_files/dynamo0p3/assemble_weak_derivative_w3_w2_kernel_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/columnwise_op_asm_kernel_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/argument_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_2qr_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_w2_only_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_w3_mod.f90
Labels: LFRic, enhancement, ready to be merged

#1182 (closes #1181) OpenACC support in PSyIR Fortran backend
  changelog
  examples/nemo/scripts/kernels_trans.py
  src/psyclone/f2pygen.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/nemo/transformations/openacc/loop_directive_test.py
  src/psyclone/tests/nemo/transformations/openacc/parallel_directive_test.py
  src/psyclone/tests/psyir/backend/psyir_openacc_test.py
  src/psyclone/tests/psyir/backend/psyir_openmp_test.py
Labels: PSyIR, ready to be merged

#1176 (closes #1174) add check that schedule is not empty plus associated test.
  changelog
  src/psyclone/profiler.py
  src/psyclone/tests/psyir/transformations/profile_test.py
Labels: PSyIR, ready to be merged

#1201 (closes 1198) Create a ScopingNode with appropriate copy behaviour
  changelog
  doc/developer_guide/psyir.rst
  psyclone.pdf
  src/psyclone/psyir/nodes/__init__.py
  src/psyclone/psyir/nodes/container.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/psyir/nodes/reference.py
  src/psyclone/psyir/nodes/schedule.py
  src/psyclone/psyir/nodes/scoping_node.py
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/tests/psyir/nodes/container_test.py
  src/psyclone/tests/psyir/nodes/reference_test.py
  src/psyclone/tests/psyir/nodes/schedule_test.py
  src/psyclone/tests/psyir/nodes/scoping_node_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
Labels: PSyIR, ready to be merged

#1211 (Towards 1210) Add a NemoKernelTrans to convert generic PSyIR into a Kernel object
  changelog
  doc/developer_guide/transformations.rst
  doc/user_guide/psyir.rst
  src/psyclone/domain/nemo/transformations/__init__.py
  src/psyclone/domain/nemo/transformations/create_nemo_kernel_trans.py
  src/psyclone/domain/nemo/transformations/nemo_allarrayrange2loop_trans.py
  src/psyclone/domain/nemo/transformations/nemo_arrayrange2loop_trans.py
  src/psyclone/nemo.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/domain/nemo/nodes/nemo_loop_test.py
  src/psyclone/tests/domain/nemo/transformations/create_nemo_kernel_trans_test.py
  src/psyclone/tests/nemo/nemo_psy_test.py
Labels: NEMO, ready to be merged

#1219 remove gen_code abstract method in Node base class (closes #1218)
  changelog
  psyclone.pdf
  src/psyclone/psyir/nodes/node.py
  src/psyclone/tests/psyir/nodes/node_test.py
Labels: PSyIR, ready to be merged

#1192 Translate Alg PSyIR to processed PSyIR (towards issue #753)
  changelog
  src/psyclone/domain/common/algorithm/psyir.py
  src/psyclone/domain/common/transformations/alg_trans.py
  src/psyclone/domain/common/transformations/invokecall_trans.py
  src/psyclone/domain/lfric/algorithm/psyir.py
  src/psyclone/domain/lfric/transformations/lfric_invokecall_trans.py
  src/psyclone/psyir/nodes/call.py
  src/psyclone/tests/domain/common/algorithm/alg_psyir_test.py
  src/psyclone/tests/domain/common/transformations/alg_trans_test.py
  src/psyclone/tests/domain/common/transformations/invokecall_trans_test.py
  src/psyclone/tests/domain/lfric/algorithm/lfric_alg_psyir_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_invokecall_trans_test.py
Labels: GOcean, LFRic, PSyIR, ready to be merged

#1207 (closes #1184) extends the Visitor base class to check global constraints for each node visited
  changelog
  doc/developer_guide/psyir_backends.rst
  src/psyclone/psyGen.py
  src/psyclone/psyir/backend/c.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/backend/visitor.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/backend/psyir_openacc_test.py
  src/psyclone/tests/psyir/backend/psyir_openmp_test.py
  src/psyclone/tests/psyir/backend/visitor_test.py
Labels: PSyIR, ready to be merged

#1183 1075 validate loop fusion
  changelog
  src/psyclone/domain/nemo/transformations/__init__.py
  src/psyclone/domain/nemo/transformations/nemo_loop_fuse.py
  src/psyclone/tests/domain/nemo/transformations/nemo_loop_trans_test.py
  src/psyclone/tests/psyir/transformations/loop_fusion_test.py
  src/psyclone/tests/psyir/transformations/transformations_test.py
  src/psyclone/tests/test_files/gocean1p0/boundary_conditions_ne_offset_mod.f90
  src/psyclone/tests/utilities.py
Labels: enhancement, ready to be merged

#1197 1189 change access key
  changelog
  doc/developer_guide/coding-style.rst
  doc/developer_guide/psyir.rst
  doc/developer_guide/psyir_symbols.rst
  psyclone.pdf
  src/psyclone/core/__init__.py
  src/psyclone/core/access_info.py
  src/psyclone/core/access_type.py
  src/psyclone/core/signature.py
  src/psyclone/domain/lfric/arg_ordering.py
  src/psyclone/domain/lfric/kern_call_arg_list.py
  src/psyclone/domain/lfric/kern_stub_arg_list.py
  src/psyclone/domain/lfric/kernel_interface.py
  src/psyclone/domain/nemo/transformations/nemo_loop_fuse.py
  src/psyclone/dynamo0p3.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/nodes/array_mixin.py
  src/psyclone/psyir/nodes/assignment.py
  src/psyclone/psyir/nodes/loop.py
  src/psyclone/psyir/nodes/read_only_verify_node.py
  src/psyclone/psyir/nodes/reference.py
  src/psyclone/psyir/tools/dependency_tools.py
  src/psyclone/tests/core/access_info_test.py
  src/psyclone/tests/core/signature_test.py
  src/psyclone/tests/dependency_test.py
  src/psyclone/tests/domain/lfric/kernel_interface_test.py
  src/psyclone/tests/psyir/nodes/structure_reference_test.py
Labels: enhancement, ready to be merged
