Repository stfc/PSyclone, pull requests merged in 2021-01, with the labels that each got.

#974 Support skip ci with GitHub actions [closes #973]
  .github/workflows/python-package.yml
  changelog
Labels: ready to be merged

#1021 Adds support for creating references to members of derived types (towards 363)
  changelog
  doc/developer_guide/psyir.rst
  doc/user_guide/psyir.rst
  examples/psyir/create_aggregate_types.py
  psyclone.pdf
  src/psyclone/psyGen.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/nodes/__init__.py
  src/psyclone/psyir/nodes/array_member.py
  src/psyclone/psyir/nodes/array_mixin.py
  src/psyclone/psyir/nodes/array_of_structures_member.py
  src/psyclone/psyir/nodes/array_of_structures_reference.py
  src/psyclone/psyir/nodes/array_reference.py
  src/psyclone/psyir/nodes/member.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/psyir/nodes/ranges.py
  src/psyclone/psyir/nodes/reference.py
  src/psyclone/psyir/nodes/structure_member.py
  src/psyclone/psyir/nodes/structure_reference.py
  src/psyclone/psyir/symbols/datatypes.py
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/nodes/array_member_test.py
  src/psyclone/tests/psyir/nodes/array_of_structures_member_test.py
  src/psyclone/tests/psyir/nodes/array_of_structures_reference_test.py
  src/psyclone/tests/psyir/nodes/array_reference_test.py
  src/psyclone/tests/psyir/nodes/member_test.py
  src/psyclone/tests/psyir/nodes/structure_member_test.py
  src/psyclone/tests/psyir/nodes/structure_reference_test.py
  src/psyclone/tests/psyir/symbols/datatype_test.py
Labels: NEMO, PSyIR, ready to be merged

#1036 colour adjacent face bug [closes issue 1033]
  changelog
  psyclone.pdf
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
Labels: LFRic, bug, ready to be merged

#1050 Remove duplicate pytest in GHA (closes #1048)
  .github/workflows/python-package.yml
Labels: ready for review

#1045 Add data type metadata for fields and operators to examples (part of #817)
  changelog
  examples/lfric/code/dg_matrix_vector_kernel_mod.F90
  examples/lfric/code/matrix_vector_kernel_mod.F90
  examples/lfric/eg10/prolong_kernel_mod.F90
  examples/lfric/eg10/restrict_kernel_mod.F90
  examples/lfric/eg11/scaled_matrix_vector_kernel_mod.F90
  examples/lfric/eg4/enforce_bc_kernel_mod.f90
  examples/lfric/eg4/matrix_vector_kernel_mod.F90
  examples/lfric/eg4/mm_diagonal_kernel_mod.F90
  examples/lfric/eg5/conservative_flux_kernel_mod.F90
  examples/lfric/eg5/subgrid_coeffs_kernel_mod.F90
  examples/lfric/eg7/columnwise_op_app_kernel_mod.F90
  examples/lfric/eg7/columnwise_op_asm_kernel_mod.F90
  examples/lfric/eg7/columnwise_op_mul_kernel_mod.F90
  examples/lfric/eg7/matrix_vector_kernel_mod.F90
  examples/lfric/eg8/enforce_bc_kernel_mod.F90
  examples/lfric/eg9/matrix_vector_kernel_mod.F90
  examples/lfric/eg9/rtheta_bd_kernel_mod.F90
  examples/lfric/eg9/rtheta_kernel_mod.F90
  examples/lfric/eg9/rtheta_wtheta_kernel_mod.F90
  examples/lfric/eg9/sample_poly_adv_kernel_mod.F90
  examples/lfric/full_example/testkern_w0_mod.f90
  examples/lfric/full_example_extract/testkern_w0_mod.f90
  examples/lfric/full_example_netcdf/testkern_w0_mod.f90
  examples/stub_generation/testkern_stencil_multi_mod.f90
Labels: LFRic, ready to be merged

#1042 SymbolTable method to create specialized symbol types (issue #1039)
  .gitignore
  changelog
  doc/developer_guide/psyir_symbols.rst
  doc/user_guide/psyir.rst
  examples/psyir/create.py
  examples/psyir/create_aggregate_types.py
  psyclone.pdf
  src/psyclone/domain/gocean/nodes/gocean_extract_node.py
  src/psyclone/domain/lfric/kern_call_arg_list.py
  src/psyclone/domain/lfric/kernel_interface.py
  src/psyclone/domain/nemo/transformations/nemo_arrayrange2loop_trans.py
  src/psyclone/dynamo0p1.py
  src/psyclone/dynamo0p3.py
  src/psyclone/dynamo0p3_builtins.py
  src/psyclone/gocean0p1.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/psyir/nodes/psy_data_node.py
  src/psyclone/psyir/nodes/routine.py
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/psyir/tools/dependency_tools.py
  src/psyclone/psyir/transformations/arrayrange2loop_trans.py
  src/psyclone/psyir/transformations/intrinsics/abs2code_trans.py
  src/psyclone/psyir/transformations/intrinsics/matmul2code_trans.py
  src/psyclone/psyir/transformations/intrinsics/min2code_trans.py
  src/psyclone/psyir/transformations/intrinsics/sign2code_trans.py
  src/psyclone/tests/domain/lfric/kernel_interface_test.py
  src/psyclone/tests/psyir/conftest.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/nodes/node_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/abs2code_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/min2code_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/sign2code_trans_test.py
  src/psyclone/transformations.py
Labels: PSyIR, ready to be merged

#1060 194 region stencils (Supersedes PR #1046)
  changelog
  doc/user_guide/dynamo0p3.rst
  psyclone.pdf
  src/psyclone/domain/lfric/lfric_arg_descriptor.py
  src/psyclone/tests/domain/lfric/lfric_stencil_tests.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/argument_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_stencil_region_mod.f90
Labels: LFRic, ready to be merged

#1071 #1069 Fixed slow RE.
  changelog
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/psyir/transformations/profile_test.py
Labels: ready to be merged

#1078 #1076 Ignore sublime project files and .idea.
  .gitignore
Labels: ready to be merged

#1051 Add data type metadata for fields and operators to LFRic tutorials (part of #817)
  changelog
  examples/lfric/eg11/scaled_matrix_vector_kernel_mod.F90
  tutorial/practicals/LFRic/building_code/1_simple_kernels/LFRic_kernel_structure.md
  tutorial/practicals/LFRic/building_code/1_simple_kernels/part1/README.md
  tutorial/practicals/LFRic/building_code/1_simple_kernels/part1/setval_field_w0_kernel_mod.f90
  tutorial/practicals/LFRic/building_code/1_simple_kernels/part1/solutions/setval_field_w0_kernel_mod.f90
  tutorial/practicals/LFRic/building_code/1_simple_kernels/part1/solutions/setval_field_w3_kernel_mod.f90
  tutorial/practicals/LFRic/building_code/1_simple_kernels/part2/README.md
  tutorial/practicals/LFRic/building_code/1_simple_kernels/part2/setval_field_any_kernel_mod.f90
  tutorial/practicals/LFRic/building_code/1_simple_kernels/part2/solutions/add_fields_any_kernel_mod.f90
  tutorial/practicals/LFRic/building_code/1_simple_kernels/part2/solutions/setval_field_any_kernel_mod.f90
  tutorial/practicals/LFRic/building_code/2_built_ins/README.md
  tutorial/practicals/LFRic/building_code/3_time_evolution/init_perturbation_kernel_mod.f90
  tutorial/practicals/LFRic/building_code/3_time_evolution/solutions/init_perturbation_kernel_mod.f90
  tutorial/practicals/LFRic/building_code/3_time_evolution/solutions/prop_perturbation_kernel_mod.f90
  tutorial/practicals/LFRic/building_code/4_psydata/init_perturbation_kernel_mod.f90
  tutorial/practicals/LFRic/building_code/4_psydata/prop_perturbation_kernel_mod.f90
  tutorial/practicals/LFRic/distributed_memory/code/apply_variable_hx_kernel_mod.F90
  tutorial/practicals/LFRic/distributed_memory/code/enforce_bc_kernel_mod.F90
  tutorial/practicals/LFRic/distributed_memory/code/scaled_matrix_vector_kernel_mod.F90
  tutorial/practicals/LFRic/single_node/code/apply_variable_hx_kernel_mod.F90
  tutorial/practicals/LFRic/single_node/code/enforce_bc_kernel_mod.F90
  tutorial/practicals/LFRic/single_node/code/scaled_matrix_vector_kernel_mod.F90
Labels: LFRic, ready to be merged, tutorial

#1059 Remove support for GH_ORIENTATION in LFRic API (for #960)
  changelog
  doc/user_guide/dynamo0p3.rst
  doc/user_guide/stub_gen.rst
  psyclone.pdf
  src/psyclone/domain/lfric/arg_ordering.py
  src/psyclone/domain/lfric/function_space.py
  src/psyclone/domain/lfric/kernel_interface.py
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/dependency_test.py
  src/psyclone/tests/domain/lfric/kernel_interface_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/dynamo0p3_lma_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/test_files/dynamo0p3/10.2_operator_orient.f90
  src/psyclone/tests/test_files/dynamo0p3/10.4_operator_orient_different_space.f90
  src/psyclone/tests/test_files/dynamo0p3/4.3_multikernel_invokes.f90
  src/psyclone/tests/test_files/dynamo0p3/4.4_multikernel_invokes.f90
  src/psyclone/tests/test_files/dynamo0p3/9.1_orientation2.f90
  src/psyclone/tests/test_files/dynamo0p3/9_orientation.f90
  src/psyclone/tests/test_files/dynamo0p3/assemble_weak_derivative_w3_w2_kernel_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/dummy_orientation_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/argument_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_operator_orient_2_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_operator_orient_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_orientation2_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_orientation_mod.F90
Labels: LFRic, ready to be merged

#1079 Finish support for derived types (closes #363)
  changelog
  doc/user_guide/examples.rst
  doc/user_guide/psyir.rst
  examples/lfric/eg4/backends_transform.py
  examples/psyir/Makefile
  examples/psyir/README.md
  examples/psyir/create_structure_types.py
  psyclone.pdf
  src/psyclone/gocean1p0.py
  src/psyclone/psyir/nodes/array_of_structures_reference.py
  src/psyclone/psyir/nodes/assignment.py
  src/psyclone/psyir/nodes/structure_member.py
  src/psyclone/psyir/nodes/structure_reference.py
  src/psyclone/psyir/tools/dependency_tools.py
  src/psyclone/tests/domain/gocean/goloop_test.py
  src/psyclone/tests/gocean1p0_test.py
  src/psyclone/tests/psyir/nodes/array_of_structures_reference_test.py
  src/psyclone/tests/psyir/nodes/structure_member_test.py
  src/psyclone/tests/psyir/nodes/structure_reference_test.py
Labels: ready to be merged
