Repository stfc/PSyclone, pull requests merged in 2021-05, with the labels that each got.

#1216 (issue 1188) Add a FortranReader PSyIR frontend
  changelog
  doc/developer_guide/working_practises.rst
  psyclone.pdf
  src/psyclone/domain/nemo/transformations/create_nemo_kernel_trans.py
  src/psyclone/gocean1p0.py
  src/psyclone/parse/kernel.py
  src/psyclone/parse/utils.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/frontend/fortran.py
  src/psyclone/psyir/symbols/containersymbol.py
  src/psyclone/tests/conftest.py
  src/psyclone/tests/core/access_info_test.py
  src/psyclone/tests/domain/common/algorithm/alg_psyir_test.py
  src/psyclone/tests/domain/common/transformations/alg_trans_test.py
  src/psyclone/tests/domain/common/transformations/invokecall_trans_test.py
  src/psyclone/tests/domain/lfric/algorithm/lfric_alg_psyir_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_alg_trans_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_invokecall_trans_test.py
  src/psyclone/tests/domain/nemo/transformations/create_nemo_kernel_trans_test.py
  src/psyclone/tests/parse/algorithm_test.py
  src/psyclone/tests/psyir/backend/c_test.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/backend/psyir_openacc_test.py
  src/psyclone/tests/psyir/backend/psyir_openmp_test.py
  src/psyclone/tests/psyir/frontend/conftest.py
  src/psyclone/tests/psyir/frontend/fortran_test.py
  src/psyclone/tests/psyir/transformations/fold_conditional_return_expressions_trans_test.py
  src/psyclone/tests/psyir/transformations/kernel_transformation_test.py
  src/psyclone/tests/psyir/transformations/loop_fusion_test.py
  src/psyclone/tests/utilities.py
Labels: PSyIR, ready to be merged

#1233 Create PSyclone TL2AD wrapper script (closes #1231)
  bin/psyad
  changelog
  doc/psyad/user_guide/Makefile
  doc/psyad/user_guide/conf.py
  doc/psyad/user_guide/index.rst
  doc/psyad/user_guide/introduction.rst
  doc/psyad/user_guide/pip_requirements.txt
  doc/psyad/user_guide/psyad_command.rst
  setup.py
  src/psyclone/psyad/__init__.py
  src/psyclone/psyad/main.py
  src/psyclone/psyad/tl2ad.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/tests/psyad/main_test.py
  src/psyclone/tests/psyad/tl2ad_test.py
Labels: adjoint, ready to be merged

#1225 1223 gocean const
  changelog
  psyclone.pdf
  src/psyclone/domain/gocean/gocean_constants.py
  src/psyclone/gocean1p0.py
Labels: GOcean, NEMO, ready to be merged

#1241 Support for Fortran functions in PSyIR fparser2 frontend (closes #1240)
  changelog
  doc/developer_guide/psyir.rst
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/kernel_schedule.py
  src/psyclone/psyir/nodes/routine.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/frontend/fparser2_derived_type_test.py
  src/psyclone/tests/psyir/frontend/fparser2_generate_psyir_test.py
  src/psyclone/tests/psyir/frontend/fparser2_subroutine_handler_test.py
  src/psyclone/tests/psyir/nodes/kernel_schedule_test.py
  src/psyclone/tests/psyir/nodes/routine_test.py
Labels: NEMO, PSyIR, ready to be merged

#1257 [LFRic] Support for read-only logical scalar arguments (for #1248)
  changelog
  doc/user_guide/dynamo0p3.rst
  psyclone.pdf
  src/psyclone/domain/lfric/lfric_arg_descriptor.py
  src/psyclone/domain/lfric/lfric_builtins.py
  src/psyclone/domain/lfric/lfric_constants.py
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/domain/constants_test.py
  src/psyclone/tests/domain/lfric/lfric_builtins_test.py
  src/psyclone/tests/domain/lfric/lfric_field_codegen_test.py
  src/psyclone/tests/domain/lfric/lfric_field_mdata_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_codegen_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_mdata_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_stubgen_test.py
  src/psyclone/tests/dynamo0p3_cma_test.py
  src/psyclone/tests/dynamo0p3_lma_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/test_files/dynamo0p3/1.7_single_invoke_3scalar.f90
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/argument_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/invalid_builtins_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/simple_with_scalars.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_three_scalars_mod.f90
Labels: LFRic, ready to be merged
