Repository stfc/PSyclone, pull requests merged in 2021-07, with the labels that each got.

#1299 (closes #1249) bugfix for unary operator arg to POW()
  changelog
  src/psyclone/domain/lfric/lfric_builtins.py
  src/psyclone/dynamo0p3.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/frontend/fortran.py
  src/psyclone/tests/domain/lfric/lfric_builtins_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/frontend/fortran_test.py
  src/psyclone/tests/test_files/dynamo0p3/15.6.2_inc_X_powint_n_builtin.f90
Labels: LFRic, NEMO, PSyIR, ready to be merged

#1279 Specify multiple kernel directories (closes #1250)
  changelog
  doc/user_guide/psyclone_command.rst
  psyclone.pdf
  src/psyclone/generator.py
  src/psyclone/parse/algorithm.py
  src/psyclone/parse/kernel.py
  src/psyclone/tests/config_test.py
  src/psyclone/tests/generator_test.py
  src/psyclone/tests/parse/algorithm_test.py
  src/psyclone/tests/parse/kernel_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/symbols/containersymbol_test.py
  src/psyclone/tests/utilities_test.py
Labels: GOcean, LFRic, ready to be merged

#1329 (closes #1308) Bug fixes for handling of WHERE in fparser2 frontend
  changelog
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/psyir/frontend/fparser2_where_handler_test.py
Labels: NEMO, PSyIR, ready to be merged

#1327 (towards #1208) Move Directive nodes from psyGen to their own files
  CONTRIBUTING.md
  changelog
  doc/developer_guide/psyir_symbols.rst
  doc/user_guide/psyir.rst
  examples/nemo/eg3/kernels_trans.py
  examples/nemo/scripts/kernels_trans.py
  psyclone.pdf
  src/psyclone/dynamo0p3.py
  src/psyclone/gocean1p0.py
  src/psyclone/profiler.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/backend/c.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/backend/sir.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/__init__.py
  src/psyclone/psyir/nodes/acc_directives.py
  src/psyclone/psyir/nodes/directive.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/psyir/nodes/omp_directives.py
  src/psyclone/psyir/nodes/ranges.py
  src/psyclone/psyir/transformations/extract_trans.py
  src/psyclone/psyir/transformations/intrinsics/abs2code_trans.py
  src/psyclone/psyir/transformations/intrinsics/matmul2code_trans.py
  src/psyclone/psyir/transformations/intrinsics/min2code_trans.py
  src/psyclone/psyir/transformations/intrinsics/operator2code_trans.py
  src/psyclone/psyir/transformations/intrinsics/sign2code_trans.py
  src/psyclone/psyir/transformations/nan_test_trans.py
  src/psyclone/psyir/transformations/psy_data_trans.py
  src/psyclone/psyir/transformations/read_only_verify_trans.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/nemo/transformations/openacc/data_directive_test.py
  src/psyclone/tests/nemo/transformations/openacc/kernels_directive_test.py
  src/psyclone/tests/nemo/transformations/openacc/parallel_directive_test.py
  src/psyclone/tests/nemo/transformations/openmp/openmp_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/backend/psyir_openacc_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/nodes/acc_directives_test.py
  src/psyclone/tests/psyir/nodes/directive_test.py
  src/psyclone/tests/psyir/nodes/omp_directives_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/abs2code_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/min2code_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/sign2code_trans_test.py
  src/psyclone/tests/psyir/transformations/transformations_test.py
  src/psyclone/transformations.py
  tutorial/practicals/nemo/3_nemo_openmp/solutions/all_levels_loops_omp_trans.py
  tutorial/practicals/nemo/3_nemo_openmp/solutions/general_parallel_region_omp_trans.py
Labels: PSyIR, ready to be merged

#1255 (Closes #1253) Adds support for interface blocks and checks *all* statements in specification section
  changelog
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/backend/fortran_unknown_declns_test.py
  src/psyclone/tests/psyir/frontend/fparser2_container_test.py
  src/psyclone/tests/psyir/frontend/fparser2_derived_type_test.py
  src/psyclone/tests/psyir/frontend/fparser2_interface_block_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
Labels: NEMO, PSyIR, ready to be merged

#1319 (closes #1307) Add support for specified lower bound in array shape declarations.
  changelog
  doc/user_guide/psyir.rst
  psyclone.pdf
  src/psyclone/dynamo0p3.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/backend/opencl.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/symbols/datatypes.py
  src/psyclone/psyir/transformations/intrinsics/matmul2code_trans.py
  src/psyclone/tests/domain/lfric/kernel_interface_test.py
  src/psyclone/tests/domain/lfric/lfric_psyir_test.py
  src/psyclone/tests/dynkern_test.py
  src/psyclone/tests/gocean1p0_opencl_test.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/backend/opencl_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/nodes/literal_test.py
  src/psyclone/tests/psyir/symbols/datasymbol_test.py
  src/psyclone/tests/psyir/symbols/datatype_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
  src/psyclone/tests/psyir/symbols/typed_symbol_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/matmul2code_trans_test.py
Labels: NEMO, PSyIR, ready to be merged

#1261 [LFRic] Add data types and kinds to data structure mappings in LFRic constants (towards #1277)
  changelog
  src/psyclone/domain/lfric/lfric_constants.py
  src/psyclone/dynamo0p3.py
  src/psyclone/psyGen.py
  src/psyclone/tests/domain/constants_test.py
  src/psyclone/tests/domain/lfric/lfric_field_codegen_test.py
  src/psyclone/tests/domain/lfric/lfric_field_mdata_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_mdata_test.py
  src/psyclone/tests/domain/lfric/lfric_stencil_test.py
  src/psyclone/tests/dynamo0p3_cma_test.py
  src/psyclone/tests/dynamo0p3_lma_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/psyGen_test.py
Labels: LFRic, PSyIR, enhancement, ready to be merged

#1317 PSyclone dependence analysis fix (closes #1315)
  changelog
  psyclone.pdf
  src/psyclone/psyir/nodes/node.py
  src/psyclone/tests/psyir/nodes/node_test.py
Labels: GOcean, LFRic, bug, ready to be merged

#1340 (closes #1334) add support for symbols in psyir_from_expression()
  changelog
  psyclone.pdf
  src/psyclone/dynamo0p3.py
  src/psyclone/psyir/frontend/fortran.py
  src/psyclone/tests/domain/lfric/lfric_builtins_test.py
  src/psyclone/tests/psyir/frontend/fortran_test.py
  src/psyclone/tests/test_files/dynamo0p3/15.6.1_inc_X_powreal_a_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.6.2_inc_X_powint_n_builtin.f90
Labels: LFRic, PSyIR, ready to be merged, under review

#1323 (closes #1305) Capture default visibility of symbols in a Container (Fortran module)
  changelog
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/frontend/fparser2_container_test.py
  src/psyclone/tests/psyir/frontend/fparser2_fortran_use_test.py
  src/psyclone/tests/psyir/frontend/fparser2_generate_psyir_test.py
  src/psyclone/tests/psyir/frontend/fparser2_module_handler_test.py
  src/psyclone/tests/psyir/frontend/fparser2_program_handler_test.py
  src/psyclone/tests/psyir/frontend/fparser2_subroutine_handler_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/nodes/container_test.py
  src/psyclone/tests/psyir/nodes/file_container_test.py
  src/psyclone/tests/psyir/nodes/scoping_node_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
Labels: NEMO, PSyIR, bug, ready to be merged

#1313 1268 indices class
  changelog
  doc/developer_guide/psyir_backends.rst
  doc/developer_guide/psyir_symbols.rst
  psyclone.pdf
  src/psyclone/core/__init__.py
  src/psyclone/core/access_info.py
  src/psyclone/core/component_indices.py
  src/psyclone/core/signature.py
  src/psyclone/domain/lfric/kern_call_arg_list.py
  src/psyclone/domain/nemo/transformations/nemo_loop_fuse.py
  src/psyclone/dynamo0p3.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyir/tools/dependency_tools.py
  src/psyclone/tests/core/access_info_test.py
  src/psyclone/tests/core/access_type_test.py
  src/psyclone/tests/core/component_indices_test.py
  src/psyclone/tests/core/signature_test.py
  src/psyclone/tests/dependency_test.py
  src/psyclone/tests/psyir/tools/dependency_tools_test.py
  src/psyclone/tests/psyir/transformations/loop_fusion_test.py
Labels: enhancement, ready to be merged

#1325 (closes 1247) Add basic support for preceding and inline comments in the PSyIR
  changelog
  doc/developer_guide/psyir.rst
  examples/psyir/create.py
  psyclone.pdf
  src/psyclone/gocean1p0.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/backend/visitor.py
  src/psyclone/psyir/nodes/commentable_mixin.py
  src/psyclone/psyir/nodes/container.py
  src/psyclone/psyir/nodes/routine.py
  src/psyclone/psyir/nodes/statement.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/backend/visitor_test.py
  src/psyclone/tests/psyir/nodes/commentable_mixin_test.py
Labels: PSyIR, enhancement, ready to be merged

#1342 (Towards 1338) Support for creating OpenMP Single directives.
  changelog
  doc/user_guide/transformations.rst
  psyclone.pdf
  src/psyclone/f2pygen.py
  src/psyclone/psyir/nodes/__init__.py
  src/psyclone/psyir/nodes/omp_directives.py
  src/psyclone/tests/psyir/nodes/omp_directives_test.py
  src/psyclone/tests/psyir/transformations/transformations_test.py
  src/psyclone/transformations.py
Labels: Task-based, ready to be merged

#1352 (towards 1338) Support for OpenMP Master directive
  changelog
  doc/user_guide/transformations.rst
  src/psyclone/psyir/nodes/__init__.py
  src/psyclone/psyir/nodes/omp_directives.py
  src/psyclone/tests/psyir/nodes/omp_directives_test.py
  src/psyclone/tests/psyir/transformations/transformations_test.py
  src/psyclone/transformations.py
Labels: Task-based, ready to be merged
