Repository stfc/PSyclone, pull requests merged in 2021-06, with the labels that each got.

#1264 [LFRic] Move names of infrastructure modules to LFRicConstants (towards #1258)
  changelog
  psyclone.pdf
  src/psyclone/domain/lfric/lfric_constants.py
  src/psyclone/domain/lfric/psyir.py
  src/psyclone/dynamo0p3.py
Labels: LFRic, PSyIR, enhancement, ready to be merged

#1236 1028 var access for structures
  changelog
  doc/developer_guide/psyir_symbols.rst
  doc/user_guide/nemo.rst
  examples/psyir/Makefile
  psyclone.pdf
  src/psyclone/core/access_info.py
  src/psyclone/core/signature.py
  src/psyclone/domain/lfric/kern_call_arg_list.py
  src/psyclone/domain/nemo/transformations/nemo_loop_fuse.py
  src/psyclone/dynamo0p3.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/array_mixin.py
  src/psyclone/psyir/nodes/array_of_structures_member.py
  src/psyclone/psyir/nodes/array_of_structures_mixin.py
  src/psyclone/psyir/nodes/array_of_structures_reference.py
  src/psyclone/psyir/nodes/assignment.py
  src/psyclone/psyir/nodes/member.py
  src/psyclone/psyir/nodes/reference.py
  src/psyclone/psyir/nodes/structure_member.py
  src/psyclone/psyir/nodes/structure_reference.py
  src/psyclone/psyir/symbols/symbol.py
  src/psyclone/psyir/tools/dependency_tools.py
  src/psyclone/tests/core/access_info_test.py
  src/psyclone/tests/core/signature_test.py
  src/psyclone/tests/dependency_test.py
  src/psyclone/tests/nemo/transformations/openacc/data_directive_test.py
  src/psyclone/tests/psyir/nodes/structure_reference_test.py
  src/psyclone/tests/psyir/symbols/symbol_test.py
  src/psyclone/tests/psyir/tools/dependency_tools_test.py
  src/psyclone/tests/psyir/transformations/loop_fusion_test.py
Labels: PSyIR, ready to be merged

#1239 Add lower_to_language_level for some LFRic builtins (towards #1237)
  changelog
  doc/developer_guide/APIs.rst
  src/psyclone/domain/lfric/lfric_builtins.py
  src/psyclone/dynamo0p1.py
  src/psyclone/dynamo0p3.py
  src/psyclone/gocean0p1.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyGen.py
  src/psyclone/tests/domain/gocean/goinvokeschedule_test.py
  src/psyclone/tests/domain/lfric/dyn_invoke_schedule_test.py
  src/psyclone/tests/domain/lfric/lfric_builtins_test.py
  src/psyclone/tests/domain/lfric/lfric_integer_builtins_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/gocean1p0_test.py
  src/psyclone/tests/psyGen_test.py
Labels: LFRic, adjoint, ready to be merged

#1195 #1194 - fix str(err) -> str(err.value)
  changelog
  psyclone.pdf
  src/psyclone/alg_gen.py
  src/psyclone/configuration.py
  src/psyclone/errors.py
  src/psyclone/parse/utils.py
  src/psyclone/psyir/backend/visitor.py
  src/psyclone/psyir/symbols/symbol.py
  src/psyclone/psyir/transformations/transformation_error.py
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/dynamo0p3_multigrid_test.py
  src/psyclone/tests/exceptions_test.py
  src/psyclone/tests/generator_test.py
  src/psyclone/tests/gocean1p0_build.py
  src/psyclone/tests/lfric_build.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
  src/psyclone/tests/psyir/transformations/arrayrange2loop_trans_test.py
  src/psyclone/tests/utilities.py
Labels: bug, ready to be merged

#1273 1272 fix failure running single test
  changelog
  psyclone.pdf
  src/psyclone/gocean1p0.py
  src/psyclone/tests/conftest.py
  src/psyclone/tests/domain/gocean/goloop_test.py
Labels: bug, ready to be merged

#1287 (towards #1259) rename TypeSymbol to DataTypeSymbol
  changelog
  doc/user_guide/psyir.rst
  examples/psyir/create_structure_types.py
  psyclone.pdf
  src/psyclone/alg_gen.py
  src/psyclone/domain/common/algorithm/psyir.py
  src/psyclone/domain/common/transformations/invokecall_trans.py
  src/psyclone/dynamo0p3.py
  src/psyclone/errors.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/backend/visitor.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/array_of_structures_reference.py
  src/psyclone/psyir/nodes/psy_data_node.py
  src/psyclone/psyir/nodes/structure_reference.py
  src/psyclone/psyir/symbols/__init__.py
  src/psyclone/psyir/symbols/data_type_symbol.py
  src/psyclone/psyir/symbols/datasymbol.py
  src/psyclone/psyir/symbols/datatypes.py
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/psyir/transformations/transformation_error.py
  src/psyclone/tests/domain/common/algorithm/alg_psyir_test.py
  src/psyclone/tests/domain/common/transformations/invokecall_trans_test.py
  src/psyclone/tests/domain/lfric/algorithm/lfric_alg_psyir_test.py
  src/psyclone/tests/domain/lfric/lfric_builtins_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/exceptions_test.py
  src/psyclone/tests/gocean1p0_test.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/frontend/fparser2_derived_type_test.py
  src/psyclone/tests/psyir/nodes/array_of_structures_reference_test.py
  src/psyclone/tests/psyir/nodes/assignment_test.py
  src/psyclone/tests/psyir/nodes/profile_node_test.py
  src/psyclone/tests/psyir/nodes/structure_member_test.py
  src/psyclone/tests/psyir/nodes/structure_reference_test.py
  src/psyclone/tests/psyir/symbols/data_type_symbol_test.py
  src/psyclone/tests/psyir/symbols/datasymbol_test.py
  src/psyclone/tests/psyir/symbols/datatype_test.py
Labels: PSyIR, ready to be merged

#1293 (closes #1285 #1178 #1179) update latex instructions, ref guide makefile and add autoapi to setup.py
  changelog
  doc/developer_guide/system_specific_setup.rst
  doc/reference_guide/Makefile
  psyclone.pdf
  setup.py
Labels: ready to be merged

#1278 1271 signatures in dependency
  changelog
  doc/developer_guide/psyir_symbols.rst
  examples/gocean/eg5/extract/extract_transform.py
  examples/gocean/eg5/readonly/read_only_transform.py
  psyclone.pdf
  src/psyclone/core/access_info.py
  src/psyclone/core/signature.py
  src/psyclone/domain/gocean/nodes/gocean_extract_node.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyir/tools/dependency_tools.py
  src/psyclone/tests/core/signature_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean_extract_test.py
  src/psyclone/tests/psyir/tools/dependency_tools_test.py
  src/psyclone/tests/psyir/transformations/read_only_verify_test.py
Labels: enhancement, ready to be merged

#1286 (closes #1274) Visitors manage the lowering themself while maintaining the provided tree unmodified
  changelog
  doc/developer_guide/psyir_backends.rst
  psyclone.pdf
  src/psyclone/gocean1p0.py
  src/psyclone/psyir/backend/opencl.py
  src/psyclone/psyir/backend/visitor.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/psyir/symbols/containersymbol.py
  src/psyclone/psyir/symbols/data_type_symbol.py
  src/psyclone/psyir/symbols/symbol.py
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/tests/domain/gocean/goloop_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean_move_iteration_boundaries_inside_kernel_trans_test.py
  src/psyclone/tests/gocean1p0_test.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/backend/visitor_test.py
  src/psyclone/tests/psyir/symbols/containersymbol_test.py
  src/psyclone/tests/psyir/symbols/data_type_symbol_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
Labels: PSyIR, ready to be merged

#1290 #1283 Added __ne__ method (mostly for python2).
  changelog
  psyclone.pdf
  src/psyclone/core/signature.py
  src/psyclone/tests/core/signature_test.py
Labels: bug, ready to be merged

#1262 capture field precision (closes #920)
  changelog
  doc/developer_guide/parsing.rst
  examples/lfric/eg3/solver_mod.x90
  psyclone.pdf
  src/psyclone/parse/algorithm.py
  src/psyclone/tests/parse/algorithm_test.py
  src/psyclone/tests/test_files/dynamo0p3/26.1_mixed_precision.f90
  src/psyclone/tests/test_files/dynamo0p3/26.2_mixed_precision_self.f90
  src/psyclone/tests/test_files/dynamo0p3/26.3_mixed_precision_error.f90
  src/psyclone/tests/test_files/dynamo0p3/26.4_mixed_precision_use.f90
  src/psyclone/tests/test_files/dynamo0p3/26.5_mixed_precision_structure.f90
  src/psyclone/tests/test_files/dynamo0p3/4.8_multikernel_invokes.f90
Labels: LFRic, ready to be merged

#1252 (closes #1251) bug fix for ranges in derived-type accesses
  changelog
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/array_mixin.py
  src/psyclone/psyir/nodes/array_of_structures_reference.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/frontend/fparser2_derived_type_test.py
  src/psyclone/tests/psyir/frontend/fparser2_subscript_triplet_handler_test.py
  src/psyclone/tests/psyir/nodes/array_member_test.py
  src/psyclone/tests/psyir/nodes/array_reference_test.py
Labels: NEMO, PSyIR, bug, ready to be merged

#1294 Add TypedSymbol and have RoutineSymbol subclass it (towards #1259)
  changelog
  doc/developer_guide/psyir_symbols.rst
  doc/user_guide/psyir.rst
  examples/psyir/modify.py
  psyclone.pdf
  src/psyclone/psyGen.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/routine.py
  src/psyclone/psyir/symbols/__init__.py
  src/psyclone/psyir/symbols/datasymbol.py
  src/psyclone/psyir/symbols/datatypes.py
  src/psyclone/psyir/symbols/routinesymbol.py
  src/psyclone/psyir/symbols/symbol.py
  src/psyclone/psyir/symbols/typed_symbol.py
  src/psyclone/tests/dynkern_test.py
  src/psyclone/tests/psyir/frontend/fparser2_call_test.py
  src/psyclone/tests/psyir/frontend/fparser2_find_or_create_symbol_test.py
  src/psyclone/tests/psyir/nodes/call_test.py
  src/psyclone/tests/psyir/symbols/datasymbol_test.py
  src/psyclone/tests/psyir/symbols/datatype_test.py
  src/psyclone/tests/psyir/symbols/routinesymbol_test.py
  src/psyclone/tests/psyir/symbols/symbol_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
  src/psyclone/tests/psyir/symbols/typed_symbol_test.py
Labels: NEMO, PSyIR, ready to be merged

#1311 (closes #1303) Split arglist into multiple codeblocks
  changelog
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/domain/common/transformations/invokecall_trans_test.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/frontend/fparser2_call_test.py
Labels: in progress, ready to be merged

#1212 (towards #1010) gocean1p0 uses the PSyIR Fortran backend
  changelog
  examples/gocean/eg1/openmp.ipynb
  examples/gocean/eg1/runme_openacc.py
  examples/gocean/eg1/runme_openmp.py
  psyclone.pdf
  src/psyclone/gocean1p0.py
  src/psyclone/psyGen.py
  src/psyclone/tests/domain/gocean/goloop_test.py
  src/psyclone/tests/domain/gocean/transformations/globalstoargs_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean_move_iteration_boundaries_inside_kernel_trans_test.py
  src/psyclone/tests/gocean1p0_config_test.py
  src/psyclone/tests/gocean1p0_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/backend/psyir_openacc_test.py
  src/psyclone/tests/utilities.py
Labels: GOcean, ready to be merged

#1316 (closes #1304 and #1301) ensures any labelled statements result in CodeBlocks.
  changelog
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/psyir/backend/fortran_format_stmt_test.py
  src/psyclone/tests/psyir/frontend/fparser2_call_test.py
  src/psyclone/tests/psyir/frontend/fparser2_do_handler_test.py
  src/psyclone/tests/psyir/frontend/fparser2_format_stmt_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/frontend/fparser2_where_handler_test.py
Labels: NEMO, PSyIR, ready to be merged
