Repository stfc/PSyclone, pull requests merged in 2021-03, with the labels that each got.

#1138 Add support for Fortran program in the PSyIR (closes #1137)
  changelog
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/frontend/fparser2_generate_psyir_test.py
  src/psyclone/tests/psyir/frontend/fparser2_main_program_handler_test.py
Labels: PSyIR, ready to be merged

#1122 Restructure node colour implementation (closes #1112)
  changelog
  doc/developer_guide/code_snippets/newnode.py
  psyclone.pdf
  src/psyclone/dynamo0p3.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/nodes/__init__.py
  src/psyclone/psyir/nodes/assignment.py
  src/psyclone/psyir/nodes/call.py
  src/psyclone/psyir/nodes/codeblock.py
  src/psyclone/psyir/nodes/container.py
  src/psyclone/psyir/nodes/extract_node.py
  src/psyclone/psyir/nodes/ifblock.py
  src/psyclone/psyir/nodes/literal.py
  src/psyclone/psyir/nodes/loop.py
  src/psyclone/psyir/nodes/member.py
  src/psyclone/psyir/nodes/nan_test_node.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/psyir/nodes/operation.py
  src/psyclone/psyir/nodes/profile_node.py
  src/psyclone/psyir/nodes/psy_data_node.py
  src/psyclone/psyir/nodes/ranges.py
  src/psyclone/psyir/nodes/read_only_verify_node.py
  src/psyclone/psyir/nodes/reference.py
  src/psyclone/psyir/nodes/return_stmt.py
  src/psyclone/psyir/nodes/routine.py
  src/psyclone/psyir/nodes/schedule.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_extract_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/gocean1p0_test.py
  src/psyclone/tests/nemo/nemo_psy_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/nodes/array_reference_test.py
  src/psyclone/tests/psyir/nodes/assignment_test.py
  src/psyclone/tests/psyir/nodes/call_test.py
  src/psyclone/tests/psyir/nodes/codeblock_test.py
  src/psyclone/tests/psyir/nodes/container_test.py
  src/psyclone/tests/psyir/nodes/ifblock_test.py
  src/psyclone/tests/psyir/nodes/literal_test.py
  src/psyclone/tests/psyir/nodes/node_test.py
  src/psyclone/tests/psyir/nodes/operation_test.py
  src/psyclone/tests/psyir/nodes/range_test.py
  src/psyclone/tests/psyir/nodes/reference_test.py
  src/psyclone/tests/psyir/nodes/return_stmt_test.py
  src/psyclone/tests/psyir/nodes/schedule_test.py
  src/psyclone/tests/psyir/nodes/structure_member_test.py
  src/psyclone/tests/psyir/transformations/nan_test.py
  src/psyclone/tests/psyir/transformations/profile_test.py
  src/psyclone/tests/psyir/transformations/psy_data_trans_test.py
  src/psyclone/tests/psyir/transformations/read_only_verify_test.py
Labels: PSyIR, ready to be merged

#1125 Harmonise and organise built-in class and module names (for #1114)
  MANIFEST.in
  changelog
  doc/developer_guide/APIs.rst
  doc/user_guide/built_ins.rst
  doc/user_guide/dynamo0p3.rst
  psyclone.pdf
  src/psyclone/domain/lfric/lfric_builtins.py
  src/psyclone/dynamo0p3.py
  src/psyclone/parse/algorithm.py
  src/psyclone/parse/lfric_builtins_mod.f90
  src/psyclone/psyGen.py
  src/psyclone/tests/domain/lfric/lfric_builtins_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/parse/kernel_test.py
  src/psyclone/tests/parse/parse_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/transformations/kernel_transformation_test.py
  src/psyclone/tests/test_files/dynamo0p3/broken_builtins_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/int_reduction_builtins_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/invalid_builtins_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/multi_reduction_builtins_mod.f90
  src/psyclone/tests/test_files/dynamo0p3/not_dofs_builtins_mod.f90
Labels: LFRic, enhancement, ready to be merged

#1065 1061 restructure psydata examples
  changelog
  doc/user_guide/examples.rst
  doc/user_guide/psy_data.rst
  examples/gocean/eg5/Makefile
  examples/gocean/eg5/README.md
  examples/gocean/eg5/extract/.gitignore
  examples/gocean/eg5/extract/Makefile
  examples/gocean/eg5/extract/README.md
  examples/gocean/eg5/extract/extract_transform.py
  examples/gocean/eg5/extract/init_field_mod.f90
  examples/gocean/eg5/extract/main.f90
  examples/gocean/eg5/extract/test.x90
  examples/gocean/eg5/extract/update_field_mod.f90
  examples/gocean/eg5/profile/.gitignore
  examples/gocean/eg5/profile/Makefile
  examples/gocean/eg5/profile/README.md
  examples/gocean/eg5/profile/init_field_mod.f90
  examples/gocean/eg5/profile/test.x90
  examples/gocean/eg5/profile/update_field_mod.f90
  examples/gocean/eg5/readonly/.gitignore
  examples/gocean/eg5/readonly/Makefile
  examples/gocean/eg5/readonly/README.md
  examples/gocean/eg5/readonly/init_field_mod.f90
  examples/gocean/eg5/readonly/read_only_transform.py
  examples/gocean/eg5/readonly/test.x90
  examples/gocean/eg5/readonly/update_field_mod.f90
  examples/gocean/eg6/Makefile
  examples/gocean/eg6/README.md
  examples/gocean/eg6/alg.f90
  examples/gocean/eg6/backends_transform.py
  examples/gocean/eg6/inc_field_mod.f90
  examples/gocean/eg8/Makefile
  examples/gocean/eg8/README.md
  lib/profiling/Makefile
  psyclone.pdf
Labels: GOcean, PSyData, enhancement, ready to be merged

#1141 #1132 Make depth() return correct values for a pointwise access.
  changelog
  src/psyclone/gocean1p0.py
  src/psyclone/tests/gocean1p0_stencil_test.py
Labels: GOcean, bug, ready to be merged

#1096 1056 GOcean transformations to insert boundary masks and eliminate return statements
  changelog
  doc/user_guide/gocean1p0.rst
  doc/user_guide/transformations.rst
  examples/gocean/README.md
  examples/gocean/eg1/opencl_transformation.py
  examples/gocean/eg3/ocl_trans.py
  examples/gocean/eg4/ocl_transform.py
  psyclone.pdf
  src/psyclone/domain/gocean/transformations/__init__.py
  src/psyclone/domain/gocean/transformations/gocean_move_iteration_boundaries_inside_kernel_trans.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/nodes/assignment.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/psyir/transformations/__init__.py
  src/psyclone/psyir/transformations/fold_conditional_return_expressions_trans.py
  src/psyclone/tests/domain/gocean/goloop_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean_move_iteration_boundaries_inside_kernel_trans_test.py
  src/psyclone/tests/gocean1p0_opencl_test.py
  src/psyclone/tests/gocean1p0_test.py
  src/psyclone/tests/psyir/transformations/fold_conditional_return_expressions_trans_test.py
Labels: GOcean, PSyIR, ready to be merged

#1109 Add NEMO OpenACC transformation scripts under examples.
  changelog
  examples/nemo/.gitignore
  examples/nemo/README.md
  examples/nemo/eg3/Makefile
  examples/nemo/eg3/README.md
  examples/nemo/eg3/kernels_managed_mem_trans.py
  examples/nemo/scripts/kernels_trans.py
  examples/nemo/scripts/process_nemo.py
Labels: NEMO, ready to be merged

#1135 Add replace_with method to node (closes #1124)
  changelog
  doc/user_guide/psyir.rst
  examples/psyir/create.py
  examples/psyir/modify.py
  psyclone.pdf
  src/psyclone/psyir/nodes/node.py
  src/psyclone/tests/psyir/nodes/node_test.py
Labels: PSyIR, ready to be merged

#1126 Update kernel stub generator for CROSS2D stencils (for #1098)
  changelog
  psyclone.pdf
  src/psyclone/domain/lfric/kern_stub_arg_list.py
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/domain/lfric/lfric_stencil_stubgen_test.py
  src/psyclone/tests/domain/lfric/lfric_stencil_tests.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/test_files/dynamo0p3/19.26_single_stencil_cross2d.f90
Labels: LFRic, ready to be merged, under review

#1145 Add required built-ins for PSyclone 2.0.0 (for #1107)
  changelog
  doc/user_guide/dynamo0p3.rst
  psyclone.pdf
  src/psyclone/domain/lfric/lfric_builtins.py
  src/psyclone/parse/lfric_builtins_mod.f90
  src/psyclone/tests/domain/lfric/lfric_builtins_test.py
  src/psyclone/tests/domain/lfric/lfric_integer_builtins_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/test_files/dynamo0p3/15.1.10_aX_plus_aY_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.1.8_a_plus_X_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.1.9_inc_a_plus_X_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.10.1_sign_X_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.10.2_sign_X_builtin_set_by_value.f90
  src/psyclone/tests/test_files/dynamo0p3/15.10.3_int_X_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.2.6_aX_minus_bY_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.21.3_int_a_plus_X_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.21.4_int_inc_a_plus_X_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.28.1_int_sign_X_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.28.2_real_X_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.5.3_a_divideby_X_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.5.4_inc_a_divideby_X_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/invalid_builtins_mod.f90
Labels: LFRic, enhancement, ready to be merged

#1133 1130 add field access info for gokernel
  changelog
  psyclone.pdf
  src/psyclone/gocean1p0.py
  src/psyclone/tests/dependency_test.py
  src/psyclone/tests/gocean1p0_stencil_test.py
  src/psyclone/tests/test_files/gocean1p0/compute_cu_large_stencil_mod.f90
  src/psyclone/tests/test_files/gocean1p0/large_stencil.f90
Labels: GOcean, ready to be merged

#1154 1153 improve loop fuse usability - part1, split transformations into separate files and different directories.
  changelog
  doc/user_guide/dynamo0p3.rst
  doc/user_guide/gocean1p0.rst
  doc/user_guide/transformations.rst
  examples/lfric/eg6/omp_reprod_script.py
  examples/lfric/eg6/omp_script.py
  examples/lfric/scripts/loop_fuse.py
  psyclone.pdf
  src/psyclone/domain/gocean/transformations/__init__.py
  src/psyclone/domain/gocean/transformations/gocean_loop_fuse_trans.py
  src/psyclone/domain/lfric/transformations/__init__.py
  src/psyclone/domain/lfric/transformations/lfric_loop_fuse_trans.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/tools/__init__.py
  src/psyclone/psyir/transformations/__init__.py
  src/psyclone/psyir/transformations/loop_fuse_trans.py
  src/psyclone/tests/domain/gocean/transformations/gocean0p1_transformations_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/generator_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/nodes/node_test.py
  src/psyclone/tests/psyir/transformations/loop_trans_test.py
  src/psyclone/tests/psyir/transformations/transformations_test.py
  src/psyclone/tests/test_files/dynamo0p3/loop_fuse_trans.py
  src/psyclone/transformations.py
Labels: enhancement, ready to be merged

#1155 Add support for real and int binary operations (closes #529)
  changelog
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/operation.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/nodes/type_convert_operation_test.py
Labels: NEMO, PSyIR, ready to be merged

#1144 Check that nodes belong to only one parent node (issue #1136)
  changelog
  doc/developer_guide/psyir.rst
  doc/user_guide/psyir.rst
  examples/psyir/create.py
  examples/psyir/create_structure_types.py
  psyclone.pdf
  src/psyclone/domain/gocean/transformations/gocean_move_iteration_boundaries_inside_kernel_trans.py
  src/psyclone/domain/lfric/lfric_builtins.py
  src/psyclone/domain/nemo/transformations/nemo_arrayrange2loop_trans.py
  src/psyclone/dynamo0p1.py
  src/psyclone/gocean1p0.py
  src/psyclone/nemo.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/psyir/nodes/operation.py
  src/psyclone/psyir/nodes/psy_data_node.py
  src/psyclone/psyir/nodes/ranges.py
  src/psyclone/psyir/nodes/schedule.py
  src/psyclone/psyir/transformations/arrayrange2loop_trans.py
  src/psyclone/psyir/transformations/fold_conditional_return_expressions_trans.py
  src/psyclone/psyir/transformations/intrinsics/abs2code_trans.py
  src/psyclone/psyir/transformations/intrinsics/matmul2code_trans.py
  src/psyclone/psyir/transformations/intrinsics/min2code_trans.py
  src/psyclone/psyir/transformations/intrinsics/sign2code_trans.py
  src/psyclone/psyir/transformations/loop_fuse_trans.py
  src/psyclone/psyir/transformations/psy_data_trans.py
  src/psyclone/tests/domain/gocean/goloop_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/domain/nemo/nodes/nemo_loop_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/nemo/nemo_psy_test.py
  src/psyclone/tests/nemo/transformations/openmp/openmp_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/backend/c_test.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/backend/sir_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/nodes/array_of_structures_reference_test.py
  src/psyclone/tests/psyir/nodes/array_reference_test.py
  src/psyclone/tests/psyir/nodes/assignment_test.py
  src/psyclone/tests/psyir/nodes/ifblock_test.py
  src/psyclone/tests/psyir/nodes/literal_test.py
  src/psyclone/tests/psyir/nodes/loop_test.py
  src/psyclone/tests/psyir/nodes/member_test.py
  src/psyclone/tests/psyir/nodes/node_test.py
  src/psyclone/tests/psyir/nodes/operation_test.py
  src/psyclone/tests/psyir/nodes/psy_data_node_test.py
  src/psyclone/tests/psyir/nodes/range_test.py
  src/psyclone/tests/psyir/nodes/reference_test.py
  src/psyclone/tests/psyir/nodes/schedule_test.py
  src/psyclone/tests/psyir/nodes/type_convert_operation_test.py
  src/psyclone/tests/psyir/transformations/arrayrange2loop_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/abs2code_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/matmul2code_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/min2code_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/operator2code_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/sign2code_trans_test.py
  src/psyclone/tests/psyir/transformations/profile_test.py
  src/psyclone/transformations.py
Labels: PSyIR, ready to be merged

#1150 (Closes #1146) Ensure swap method in symbol table compares normalised symbol names.
  changelog
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/tests/psyir/frontend/fparser2_derived_type_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
Labels: ready to be merged

#1166 (Closes #1152) add Unary SUM operation
  changelog
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/operation.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
Labels: PSyIR, ready to be merged

#1131 [LFRic] Make the number of ANY_*_SPACE function space IDs and the supported Fortran datatypes configurable (for #1116)
  changelog
  config/psyclone.cfg
  doc/user_guide/configuration.rst
  doc/user_guide/dynamo0p3.rst
  doc/user_guide/stub_gen.rst
  psyclone.pdf
  src/psyclone/configuration.py
  src/psyclone/domain/lfric/function_space.py
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/config_test.py
  src/psyclone/tests/domain/lfric/lfric_config_test.py
  src/psyclone/tests/domain/lfric/lfric_field_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_test.py
  src/psyclone/tests/domain/nemo/test_files/nemo_test.cfg
  src/psyclone/tests/test_files/dummy_config.cfg
  tutorial/practicals/LFRic/distributed_memory/2_annexed_dofs/psyclone.cfg
  tutorial/practicals/LFRic/distributed_memory/3_overlapping_comms/psyclone.cfg
  tutorial/practicals/LFRic/single_node/1_openmp/psyclone.cfg
Labels: LFRic, enhancement, ready to be merged

#1082 Add code-generation for 'domain' kernels (towards #925)
  changelog
  doc/developer_guide/psyir.rst
  doc/user_guide/dynamo0p3.rst
  psyclone.pdf
  src/psyclone/domain/lfric/arg_ordering.py
  src/psyclone/domain/lfric/kern_call_arg_list.py
  src/psyclone/dynamo0p3.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/nodes/loop.py
  src/psyclone/psyir/transformations/loop_trans.py
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/domain/lfric/lfric_domain_kernels_test.py
  src/psyclone/tests/domain/lfric/lfric_loop_test.py
  src/psyclone/tests/domain/lfric/lfric_mesh_props_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/transformations/loop_trans_test.py
  src/psyclone/tests/test_files/dynamo0p3/25.0_domain.f90
  src/psyclone/tests/test_files/dynamo0p3/25.1_2kern_domain.f90
  src/psyclone/tests/test_files/dynamo0p3/25.2_multikern_domain.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_domain_mod.F90
  src/psyclone/transformations.py
Labels: LFRic, ready to be merged

#1162 (closes #1160) Add check for wildcard import in any outer scope to Fortran backend
  changelog
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
Labels: NEMO, PSyIR, ready to be merged

#1157 478 same space option
  changelog
  doc/user_guide/dynamo0p3.rst
  examples/lfric/eg6/omp_reprod_script.py
  examples/lfric/eg6/omp_script.py
  examples/lfric/scripts/loop_fuse.py
  psyclone.pdf
  src/psyclone/domain/lfric/transformations/lfric_loop_fuse_trans.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/nodes/node_test.py
Labels: LFRic, ready to be merged

#1165 (closes #1164) generalise assignment.is_array_range and add tests
  changelog
  src/psyclone/psyir/nodes/assignment.py
  src/psyclone/psyir/nodes/operation.py
  src/psyclone/tests/psyir/nodes/assignment_test.py
Labels: NEMO, PSyIR, ready to be merged

#1177 (closes 1168) add `lower_to_language_level()` method to `ProfileNode`
  changelog
  src/psyclone/psyir/nodes/call.py
  src/psyclone/psyir/nodes/codeblock.py
  src/psyclone/psyir/nodes/profile_node.py
  src/psyclone/psyir/nodes/psy_data_node.py
  src/psyclone/tests/conftest.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/nodes/profile_node_test.py
  src/psyclone/tests/psyir/nodes/psy_data_node_test.py
  src/psyclone/tests/psyir/transformations/profile_test.py
Labels: PSyData, PSyIR, ready to be merged
