Repository stfc/PSyclone, pull requests merged in 2021-09, with the labels that each got.

#1263 array access to loop transformation (closes #1139)
  changelog
  doc/user_guide/nemo.rst
  examples/nemo/eg4/sir_trans_all.py
  examples/nemo/eg4/tra_adv_compute.F90
  psyclone.pdf
  src/psyclone/domain/nemo/transformations/__init__.py
  src/psyclone/domain/nemo/transformations/nemo_allarrayaccess2loop_trans.py
  src/psyclone/domain/nemo/transformations/nemo_arrayaccess2loop_trans.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/nodes/literal.py
  src/psyclone/tests/domain/nemo/transformations/nemo_allarrayaccess2loop_trans_test.py
  src/psyclone/tests/domain/nemo/transformations/nemo_arrayaccess2loop_trans_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyad/transformations/test_adjoint_trans.py
  src/psyclone/tests/psyad/transformations/test_assignment_trans.py
  src/psyclone/tests/psyir/nodes/literal_test.py
Labels: ready to be merged, SIR

#1378 (closes #879) Rename GlobalInterface to ImportInterface
  changelog
  doc/developer_guide/psyir_symbols.rst
  doc/user_guide/psyir.rst
  doc/user_guide/transformations.rst
  examples/gocean/eg1/opencl_transformation.py
  examples/gocean/eg4/README.md
  examples/gocean/eg4/acc_transform.py
  examples/gocean/eg4/ocl_transform.py
  examples/psyir/create.py
  examples/psyir/create_structure_types.py
  psyclone.pdf
  src/psyclone/domain/common/algorithm/psyir.py
  src/psyclone/domain/gocean/transformations/gocean_opencl_trans.py
  src/psyclone/domain/lfric/psyir.py
  src/psyclone/dynamo0p3.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/psy_data_node.py
  src/psyclone/psyir/symbols/__init__.py
  src/psyclone/psyir/symbols/symbol.py
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/tests/domain/common/algorithm/alg_psyir_test.py
  src/psyclone/tests/domain/gocean/transformations/globalstoargs_test.py
  src/psyclone/tests/domain/lfric/algorithm/lfric_alg_psyir_test.py
  src/psyclone/tests/domain/lfric/lfric_psyir_test.py
  src/psyclone/tests/gocean1p0_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/backend/fortran_unknown_declns_test.py
  src/psyclone/tests/psyir/frontend/fparser2_call_test.py
  src/psyclone/tests/psyir/frontend/fparser2_fortran_use_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/nodes/profile_node_test.py
  src/psyclone/tests/psyir/nodes/psy_data_node_test.py
  src/psyclone/tests/psyir/symbols/datasymbol_test.py
  src/psyclone/tests/psyir/symbols/symbol_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
  src/psyclone/tests/psyir/symbols/typed_symbol_test.py
  src/psyclone/tests/psyir/transformations/kernel_transformation_test.py
  src/psyclone/transformations.py
Labels: ready to be merged, PSyIR

#1376 (Towards #1374 ) Childless/Leaf directive
  changelog
  src/psyclone/psyir/backend/c.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/nodes/__init__.py
  src/psyclone/psyir/nodes/acc_directives.py
  src/psyclone/psyir/nodes/directive.py
  src/psyclone/psyir/nodes/omp_directives.py
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/psyir/backend/psyir_openacc_test.py
  src/psyclone/tests/psyir/nodes/acc_directives_test.py
  src/psyclone/tests/psyir/nodes/directive_test.py
  src/psyclone/tests/psyir/nodes/omp_directives_test.py
Labels: enhancement, ready to be merged

#1354 (closes #1256) GOConstLoopBoundsTrans modifies the tree instead of setting a flag
  changelog
  doc/user_guide/gocean1p0.rst
  doc/user_guide/profiling.rst
  examples/gocean/eg1/dag.ipynb
  psyclone.pdf
  src/psyclone/domain/gocean/transformations/__init__.py
  src/psyclone/domain/gocean/transformations/gocean_const_loop_bounds_trans.py
  src/psyclone/domain/gocean/transformations/gocean_move_iteration_boundaries_inside_kernel_trans.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyir/nodes/profile_node.py
  src/psyclone/tests/domain/gocean/goinvokeschedule_test.py
  src/psyclone/tests/domain/gocean/goloop_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean_const_loop_bounds_trans_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean_extract_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean_opencl_trans_test.py
  src/psyclone/tests/gocean1p0_config_test.py
  src/psyclone/tests/gocean1p0_test.py
  src/psyclone/tests/psyir/nodes/profile_node_test.py
  src/psyclone/tests/psyir/tools/dependency_tools_test.py
  src/psyclone/tests/psyir/transformations/loop_trans_test.py
  src/psyclone/tests/psyir/transformations/nan_test.py
  src/psyclone/tests/psyir/transformations/profile_test.py
  src/psyclone/tests/psyir/transformations/psy_data_trans_test.py
  src/psyclone/tests/psyir/transformations/read_only_verify_test.py
  src/psyclone/transformations.py
Labels: ready to be merged, GOcean

#1343 (closes #1336) add GHA to check MD links
  .github/workflows/python-package.yml
  changelog
  doc/developer_guide/working_practises.rst
  tutorial/practicals/LFRic/building_code/3_time_evolution/README.md
  tutorial/practicals/LFRic/building_code/README.md
  tutorial/practicals/LFRic/building_code/background/LFRic_structure.md
  tutorial/practicals/README.md
Labels: ready to be merged

#1385 (Towards #430 and #737) Various fixes for the Fortran backend, especially re symbol visibility
  changelog
  src/psyclone/domain/nemo/transformations/nemo_arrayrange2loop_trans.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/acc_directives.py
  src/psyclone/tests/domain/nemo/transformations/nemo_allarrayrange2loop_trans_test.py
  src/psyclone/tests/domain/nemo/transformations/nemo_arrayaccess2loop_trans_test.py
  src/psyclone/tests/domain/nemo/transformations/nemo_arrayrange2loop_trans_test.py
  src/psyclone/tests/domain/nemo/transformations/nemo_outerarrayrange2loop_trans_test.py
  src/psyclone/tests/gocean1p0_test.py
  src/psyclone/tests/nemo/test_files/array_syntax.f90
  src/psyclone/tests/nemo/test_files/imperfect_nest.f90
  src/psyclone/tests/nemo/transformations/openacc/kernels_directive_test.py
  src/psyclone/tests/psyad/transformations/test_assignment_trans.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/backend/fortran_unknown_declns_test.py
  src/psyclone/tests/psyir/backend/psyir_openacc_test.py
  src/psyclone/tests/psyir/frontend/fparser2_module_handler_test.py
  src/psyclone/tests/psyir/frontend/fparser2_subroutine_handler_test.py
  src/psyclone/tests/psyir/nodes/container_test.py
  src/psyclone/tests/psyir/nodes/file_container_test.py
  src/psyclone/tests/psyir/nodes/scoping_node_test.py
  src/psyclone/tests/test_files/gocean1p0/kernel_invalid_iterates_over.f90
Labels: ready to be merged, NEMO, PSyIR

#1363 Add a hoist transformation (closes #1356)
  changelog
  doc/README.md
  doc/user_guide/transformations.rst
  examples/nemo/eg4/sir_trans_all.py
  examples/nemo/eg4/tra_adv_compute.F90
  psyclone.pdf
  src/psyclone/psyir/transformations/__init__.py
  src/psyclone/psyir/transformations/hoist_trans.py
  src/psyclone/tests/psyir/transformations/hoist_trans_test.py
Labels: ready to be merged, PSyIR, SIR

#1384 (Fixes #1381) nogroup clause for Taskloop
  src/psyclone/.pylintrc
  src/psyclone/psyir/nodes/omp_directives.py
  src/psyclone/tests/psyir/nodes/omp_directives_test.py
  src/psyclone/tests/psyir/transformations/transformations_test.py
  src/psyclone/transformations.py
Labels: enhancement, ready to be merged

#1379 1288 use psyir for extraction driver
  changelog
  doc/developer_guide/psy_data.rst
  doc/developer_guide/psyir_symbols.rst
  doc/user_guide/psyke.rst
  examples/gocean/eg5/extract/Makefile
  examples/gocean/eg5/extract/extract_transform.py
  examples/gocean/eg5/readonly/read_only_transform.py
  examples/lfric/eg17/full_example_extract/extract_transform.py
  psyclone.pdf
  src/psyclone/domain/common/__init__.py
  src/psyclone/domain/common/extract_driver_creator.py
  src/psyclone/domain/gocean/nodes/gocean_extract_node.py
  src/psyclone/domain/gocean/transformations/gocean_extract_trans.py
  src/psyclone/domain/lfric/transformations/lfric_extract_trans.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/nodes/extract_node.py
  src/psyclone/psyir/nodes/nan_test_node.py
  src/psyclone/psyir/nodes/psy_data_node.py
  src/psyclone/psyir/nodes/read_only_verify_node.py
  src/psyclone/psyir/transformations/extract_trans.py
  src/psyclone/psyir/transformations/psy_data_trans.py
  src/psyclone/tests/domain/common/extract_driver_creator_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean_extract_test.py
  src/psyclone/tests/psyir/transformations/extract_test.py
  src/psyclone/tests/psyir/transformations/profile_test.py
  src/psyclone/tests/psyir/transformations/psy_data_trans_test.py
  src/psyclone/tests/test_files/gocean1p0/driver_test.f90
Labels: enhancement, ready to be merged

#1403 Add private attribute to DeclGen
  src/psyclone/f2pygen.py
  src/psyclone/tests/f2pygen_test.py
Labels: under review, NEMO, PSyData

#1406 (closes #1404) bug fix for copying of loop variable
  changelog
  src/psyclone/psyir/nodes/scoping_node.py
  src/psyclone/tests/psyir/nodes/scoping_node_test.py
Labels: ready to be merged, NEMO, PSyIR

#1407 (towards #1383) Standardise Directive node_str and remove unneeded code
  changelog
  psyclone.pdf
  src/psyclone/psyGen.py
  src/psyclone/psyir/nodes/acc_directives.py
  src/psyclone/psyir/nodes/directive.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/psyir/nodes/omp_directives.py
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/nemo/transformations/openacc/data_directive_test.py
  src/psyclone/tests/nemo/transformations/openacc/kernels_directive_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/nodes/acc_directives_test.py
  src/psyclone/tests/psyir/nodes/directive_test.py
  src/psyclone/tests/psyir/nodes/node_test.py
  src/psyclone/tests/psyir/nodes/omp_directives_test.py
Labels: ready to be merged, PSyIR

#1401 Add active variables to psyad script (closes #1400)
  changelog
  doc/psyad/user_guide/psyad_command.rst
  examples/psyad/Makefile
  psyclone.pdf
  src/psyclone/psyad/main.py
  src/psyclone/psyad/tl2ad.py
  src/psyclone/tests/psyad/main_test.py
  src/psyclone/tests/psyad/tl2ad_test.py
Labels: ready to be merged, adjoint

#1326 Add support for gh_readinc (closes #1292)
  changelog
  config/psyclone.cfg
  doc/developer_guide/APIs.rst
  doc/user_guide/configuration.rst
  doc/user_guide/dynamo0p3.rst
  doc/user_guide/examples.rst
  examples/lfric/README.md
  examples/lfric/eg18/Makefile
  examples/lfric/eg18/advection_alg_mod.x90
  examples/lfric/eg18/impose_min_flux_kernel_mod.f90
  psyclone.pdf
  src/psyclone/core/access_type.py
  src/psyclone/domain/lfric/lfric_arg_descriptor.py
  src/psyclone/tests/core/access_type_test.py
  src/psyclone/tests/domain/lfric/lfric_field_mdata_test.py
  src/psyclone/tests/dynamo0p3_haloex_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/test_files/dynamo0p3/14.15_halo_readinc.f90
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/argument_mod.F90
  src/psyclone/tests/test_files/dynamo0p3/testkern_w0_readinc_mod.f90
  tutorial/practicals/LFRic/distributed_memory/2_annexed_dofs/psyclone.cfg
  tutorial/practicals/LFRic/distributed_memory/3_overlapping_comms/psyclone.cfg
  tutorial/practicals/LFRic/single_node/1_openmp/psyclone.cfg
Labels: enhancement, ready to be merged, LFRic

#1409 (closes #1383) Standardise and cleanup unneeded dag_name methods
  changelog
  doc/developer_guide/psy_data.rst
  psyclone.pdf
  setup.py
  src/psyclone/domain/gocean/nodes/__init__.py
  src/psyclone/domain/gocean/nodes/gocean_extract_node.py
  src/psyclone/domain/gocean/transformations/gocean_extract_trans.py
  src/psyclone/psyir/nodes/acc_directives.py
  src/psyclone/psyir/nodes/directive.py
  src/psyclone/psyir/nodes/extract_node.py
  src/psyclone/psyir/nodes/nan_test_node.py
  src/psyclone/psyir/nodes/node.py
  src/psyclone/psyir/nodes/omp_directives.py
  src/psyclone/psyir/nodes/read_only_verify_node.py
  src/psyclone/psyir/nodes/schedule.py
  src/psyclone/psyir/transformations/psy_data_trans.py
  src/psyclone/tests/domain/gocean/transformations/gocean_extract_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_extract_test.py
  src/psyclone/tests/nemo/transformations/openacc/kernels_directive_test.py
  src/psyclone/tests/psyir/nodes/acc_directives_test.py
  src/psyclone/tests/psyir/nodes/directive_test.py
  src/psyclone/tests/psyir/nodes/node_test.py
  src/psyclone/tests/psyir/nodes/omp_directives_test.py
  src/psyclone/tests/psyir/transformations/nan_test.py
  src/psyclone/tests/psyir/transformations/read_only_verify_test.py
Labels: ready to be merged, PSyIR
