Repository stfc/PSyclone, pull requests merged in 2022-11, with the labels that each got.

#1917 Extend InlineTrans transformation to inline code from a different container (closes issue #1916)
  changelog
  psyclone.pdf
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/transformations/inline_trans.py
  src/psyclone/tests/psyir/backend/fortran_gen_decls_test.py
  src/psyclone/tests/psyir/transformations/inline_trans_test.py
Labels: ready to be merged, GOcean, LFRic, NEMO, adjoint, NEMOVAR, WW3

#1940 Switch to Python 3.11 for CI tests
  .github/workflows/python-package.yml
  changelog
  psyclone.pdf
  src/psyclone/tests/generator_test.py
Labels: ready to be merged

#1905 (Closes #1903) rationalise OMP schedule values
  changelog
  psyclone.pdf
  src/psyclone/psyir/nodes/omp_clauses.py
  src/psyclone/psyir/nodes/omp_directives.py
  src/psyclone/psyir/transformations/omp_loop_trans.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/psyir/nodes/omp_clause_test.py
  src/psyclone/tests/psyir/nodes/omp_directives_test.py
  src/psyclone/tests/psyir/transformations/transformations_test.py
Labels: in progress, ready to be merged, PSyIR

#1892 (Towards #1824) extend get_kernel_schedule to support mixed precision kernels
  changelog
  src/psyclone/domain/common/transformations/kernel_module_inline_trans.py
  src/psyclone/domain/gocean/transformations/raise_psyir_2_gocean_kern_trans.py
  src/psyclone/domain/lfric/kernel_interface.py
  src/psyclone/domain/lfric/lfric_constants.py
  src/psyclone/dynamo0p3.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/domain/common/transformations/kernel_module_inline_trans_test.py
  src/psyclone/tests/domain/gocean/go_symbol_table_test.py
  src/psyclone/tests/domain/gocean/kernel/go_kernel_arg_test.py
  src/psyclone/tests/domain/gocean/kernel/gocean_kern_psyir_test.py
  src/psyclone/tests/domain/gocean/kernel/gokern_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean_move_iteration_boundaries_inside_kernel_trans_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean_opencl_trans_test.py
  src/psyclone/tests/domain/gocean/transformations/raise_psyir_2_gocean_kern_trans_test.py
  src/psyclone/tests/dynkern_test.py
  src/psyclone/tests/gocean1p0_test.py
  src/psyclone/tests/psyir/frontend/fparser2_call_test.py
  src/psyclone/tests/psyir/frontend/fparser2_derived_type_test.py
  src/psyclone/tests/psyir/frontend/fparser2_do_handler_test.py
  src/psyclone/tests/psyir/frontend/fparser2_find_or_create_symbol_test.py
  src/psyclone/tests/psyir/frontend/fparser2_nint_intrinsic_test.py
  src/psyclone/tests/psyir/frontend/fparser2_subroutine_handler_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/frontend/fparser2_where_handler_test.py
  src/psyclone/tests/psyir/transformations/kernel_transformation_test.py
Labels: ready to be merged, GOcean, LFRic

#1918 1883 use psyir for kern call arg list
  changelog
  examples/psyir/create.py
  src/psyclone/domain/gocean/__init__.py
  src/psyclone/domain/gocean/go_symbol_table.py
  src/psyclone/domain/lfric/__init__.py
  src/psyclone/domain/lfric/algorithm/lfric_alg.py
  src/psyclone/domain/lfric/arg_ordering.py
  src/psyclone/domain/lfric/kern_call_acc_arg_list.py
  src/psyclone/domain/lfric/kern_call_arg_list.py
  src/psyclone/domain/lfric/kern_call_invoke_arg_list.py
  src/psyclone/domain/lfric/kern_stub_arg_list.py
  src/psyclone/domain/lfric/lfric_symbol_table.py
  src/psyclone/domain/lfric/psyir.py
  src/psyclone/dynamo0p3.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyad/domain/lfric/generate_lfric_adjoint_harness.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/nodes/array_reference.py
  src/psyclone/psyir/symbols/datatypes.py
  src/psyclone/tests/domain/gocean/kernel/go_kernel_arg_test.py
  src/psyclone/tests/domain/lfric/arg_ordering_test.py
  src/psyclone/tests/domain/lfric/kern_call_arg_list_test.py
  src/psyclone/tests/domain/lfric/kern_call_invoke_arg_list_test.py
  src/psyclone/tests/domain/lfric/lfric_domain_kernels_test.py
  src/psyclone/tests/domain/lfric/lfric_loop_test.py
  src/psyclone/tests/domain/lfric/lfric_psyir_test.py
  src/psyclone/tests/domain/lfric/lfric_symbol_table_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_extract_test.py
  src/psyclone/tests/dynamo0p3_multigrid_test.py
  src/psyclone/tests/psyad/domain/lfric/test_generate_lfric_adjoint_harness.py
  src/psyclone/tests/psyir/nodes/array_reference_test.py
  src/psyclone/tests/psyir/symbols/datatype_test.py
  src/psyclone/tests/test_files/dynamo0p3/int_real_literal_scalar.f90
Labels: enhancement, ready to be merged, LFRic, PSyIR

#1898 (Towards #1708) PSyAD support for lfric geometry args
  changelog
  doc/psyad/user_guide/implementation.rst
  doc/psyad/user_guide/index.rst
  doc/psyad/user_guide/introduction.rst
  doc/psyad/user_guide/psyad_command.rst
  examples/psyad/eg2/Makefile
  examples/psyad/eg2/README.md
  src/psyclone/domain/lfric/algorithm/lfric_alg.py
  src/psyclone/domain/lfric/arg_ordering.py
  src/psyclone/domain/lfric/kern_call_invoke_arg_list.py
  src/psyclone/psyad/domain/lfric/__init__.py
  src/psyclone/psyad/domain/lfric/lfric_adjoint.py
  src/psyclone/psyad/domain/lfric/lfric_adjoint_harness.py
  src/psyclone/psyad/main.py
  src/psyclone/psyad/tl2ad.py
  src/psyclone/tests/psyad/domain/lfric/test_lfric_adjoint.py
  src/psyclone/tests/psyad/domain/lfric/test_lfric_adjoint_harness.py
  src/psyclone/tests/psyad/main_test.py
  src/psyclone/tests/psyad/tl2ad_test.py
Labels: ready to be merged, adjoint
