Repository stfc/PSyclone, pull requests merged in 2022-02, with the labels that each got.

#1578 (closes #1517) Parallel loop transformations check for loop carried dependencies
  changelog
  doc/user_guide/nemo.rst
  examples/nemo/eg2/Makefile
  examples/nemo/eg2/README.md
  examples/nemo/eg2/omp_levels_trans.py
  examples/nemo/eg2/runme_openmp.py
  psyclone.pdf
  src/psyclone/psyir/nodes/omp_directives.py
  src/psyclone/psyir/symbols/symbol.py
  src/psyclone/psyir/tools/dependency_tools.py
  src/psyclone/tests/core/access_info_test.py
  src/psyclone/tests/psyir/nodes/omp_directives_test.py
  src/psyclone/tests/psyir/symbols/symbol_test.py
  src/psyclone/tests/psyir/transformations/transformations_test.py
  src/psyclone/transformations.py
Labels: ready to be merged

#1598 remove reference to dynamo0.1 api in the documentation (part of #282)
  changelog
  doc/developer_guide/APIs.rst
  doc/thebigpicture.mm
  doc/user_guide/configuration.rst
  doc/user_guide/psy_layer.rst
  doc/user_guide/psyclone_command.rst
  psyclone.pdf
Labels: under review, ready to be merged, LFRic

#1462 (closes #451) LFRic loop bounds, 2nd attempt
  changelog
  src/psyclone/dynamo0p3.py
  src/psyclone/psyGen.py
  src/psyclone/tests/dependency_test.py
  src/psyclone/tests/domain/lfric/dyn_meshes_test.py
  src/psyclone/tests/domain/lfric/lfric_builtins_test.py
  src/psyclone/tests/domain/lfric/lfric_domain_kernels_test.py
  src/psyclone/tests/domain/lfric/lfric_field_codegen_test.py
  src/psyclone/tests/domain/lfric/lfric_integer_builtins_test.py
  src/psyclone/tests/domain/lfric/lfric_loop_bounds_test.py
  src/psyclone/tests/domain/lfric/lfric_loop_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_codegen_test.py
  src/psyclone/tests/domain/lfric/lfric_stencil_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_extract_test.py
  src/psyclone/tests/dynamo0p3_basis_test.py
  src/psyclone/tests/dynamo0p3_cma_test.py
  src/psyclone/tests/dynamo0p3_haloex_test.py
  src/psyclone/tests/dynamo0p3_lma_test.py
  src/psyclone/tests/dynamo0p3_multigrid_test.py
  src/psyclone/tests/dynamo0p3_quadrature_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/dynkern_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/nodes/acc_directives_test.py
  src/psyclone/tests/psyir/nodes/loop_test.py
  src/psyclone/tests/psyir/nodes/node_test.py
  src/psyclone/tests/psyir/nodes/omp_directives_test.py
  src/psyclone/tests/psyir/transformations/profile_test.py
  src/psyclone/tests/test_files/dynamo0p3/infrastructure/mesh_mod.F90
Labels: ready to be merged, LFRic

#1592 (Closes #1585) First implementation of Clause class
  changelog
  doc/developer_guide/psyir.rst
  doc/user_guide/psyir.rst
  psyclone.pdf
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/nodes/__init__.py
  src/psyclone/psyir/nodes/clause.py
  src/psyclone/psyir/nodes/directive.py
  src/psyclone/psyir/nodes/omp_clauses.py
  src/psyclone/psyir/nodes/omp_directives.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/nodes/directive_test.py
  src/psyclone/tests/psyir/nodes/omp_clause_test.py
  src/psyclone/tests/psyir/nodes/omp_directives_test.py
  src/psyclone/tests/psyir/transformations/omp_task_transformations_test.py
  src/psyclone/tests/psyir/transformations/transformations_test.py
Labels: ready to be merged, PSyIR

#1597 Fix gocean alg psyir error (part of #753)
  changelog
  psyclone.pdf
  src/psyclone/domain/common/algorithm/psyir.py
  src/psyclone/tests/domain/common/algorithm/alg_psyir_test.py
  src/psyclone/tests/domain/lfric/algorithm/lfric_alg_psyir_test.py
Labels: bug, ready to be merged, GOcean, PSyIR

#1565 (closes #1505) fix bug where kind parameter of UnknownFortranType was replaced
  changelog
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/symbols/datasymbol.py
  src/psyclone/tests/psyir/frontend/fparser2_kind_params_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/symbols/datasymbol_test.py
Labels: ready to be merged, NEMOVAR

#1603 (closes #1566) Ensure derived type with CONTAINS captured as UnknownFortranType.
  changelog
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/psyir/frontend/fparser2_derived_type_test.py
Labels: bug, ready to be merged, NEMOVAR

#1602 Restructure generator.py for gocean1.0 algorithm psyir [part of 753]
  changelog
  doc/user_guide/psyclone_command.rst
  doc/user_guide/transformations.rst
  examples/gocean/README.md
  examples/gocean/eg7/Makefile
  examples/gocean/eg7/README.md
  examples/gocean/eg7/alg.f90
  examples/gocean/eg7/alg_transform.py
  examples/gocean/eg7/inc_field_mod.f90
  psyclone.pdf
  src/psyclone/generator.py
  src/psyclone/tests/generator_test.py
  src/psyclone/tests/test_files/gocean1p0/alg_script.py
  src/psyclone/tests/test_files/gocean1p0/script.py
Labels: ready to be merged, GOcean

#1601 (close #1600) Remove GOcean0.1 API
  changelog
  config/psyclone.cfg
  doc/developer_guide/APIs.rst
  doc/thebigpicture.mm
  doc/user_guide/configuration.rst
  doc/user_guide/psyclone_command.rst
  psyclone.pdf
  src/psyclone/configuration.py
  src/psyclone/domain/gocean/transformations/gocean_loop_fuse_trans.py
  src/psyclone/gocean0p1.py
  src/psyclone/parse/kernel.py
  src/psyclone/psyGen.py
  src/psyclone/tests/config_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean0p1_transformations_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/domain/nemo/test_files/nemo_test.cfg
  src/psyclone/tests/generator_test.py
  src/psyclone/tests/gocean0p1_test.py
  src/psyclone/tests/test_files/gocean0p1/1_kg_inline.f90
  src/psyclone/tests/test_files/gocean0p1/1_kg_orig.f90
  src/psyclone/tests/test_files/gocean0p1/1_single_function.f90
  src/psyclone/tests/test_files/gocean0p1/argument_mod.F90
  src/psyclone/tests/test_files/gocean0p1/compute_cu_mod.f90
  src/psyclone/tests/test_files/gocean0p1/fuse_different_spaces_test.f90
  src/psyclone/tests/test_files/gocean0p1/global_parameters_mod.F90
  src/psyclone/tests/test_files/gocean0p1/kernel_mod.F90
  src/psyclone/tests/test_files/gocean0p1/kind_params_mod.f90
  src/psyclone/tests/test_files/gocean0p1/openmp_fuse_test.f90
  src/psyclone/tests/test_files/gocean0p1/testkern.F90
  src/psyclone/tests/test_files/gocean0p1/time_smooth_mod.f90
  src/psyclone/tests/test_files/gocean1p0/gocean_default.cfg
  src/psyclone/tests/utilities.py
  src/psyclone/tests/utilities_test.py
  tutorial/practicals/LFRic/distributed_memory/2_annexed_dofs/psyclone.cfg
  tutorial/practicals/LFRic/distributed_memory/3_overlapping_comms/psyclone.cfg
  tutorial/practicals/LFRic/single_node/1_openmp/psyclone.cfg
Labels: ready to be merged, GOcean

#1586 (Close #1509) Add support for SoA and AoSoA in the range2loop transformation
  changelog
  psyclone.pdf
  src/psyclone/domain/nemo/transformations/nemo_arrayrange2loop_trans.py
  src/psyclone/domain/nemo/transformations/nemo_outerarrayrange2loop_trans.py
  src/psyclone/psyir/nodes/array_mixin.py
  src/psyclone/tests/domain/nemo/transformations/nemo_allarrayrange2loop_trans_test.py
  src/psyclone/tests/domain/nemo/transformations/nemo_arrayrange2loop_trans_test.py
  src/psyclone/tests/domain/nemo/transformations/nemo_outerarrayrange2loop_trans_test.py
  src/psyclone/tests/nemo/test_files/implicit_do_structures.f90
  src/psyclone/tests/psyir/nodes/array_mixin_test.py
Labels: ready to be merged, NEMO

#1574 (Towards #1555) Replace gen_kernel_stub with new psyclone-kern driver
  README.md
  bin/psyclone-kern
  changelog
  doc/user_guide/index.rst
  doc/user_guide/psyclone_command.rst
  doc/user_guide/psyclone_kern.rst
  examples/README.md
  examples/common.mk
  examples/stub_generation/README.md
  psyclone.pdf
  setup.py
  src/psyclone/alg_gen.py
  src/psyclone/gen_kernel_stub.py
  src/psyclone/kernel_tools.py
  src/psyclone/tests/alggen_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/gen_kernel_stub_test.py
  src/psyclone/tests/kernel_tools_test.py
  tutorial/common.mk
  tutorial/practicals/LFRic/building_code/1_simple_kernels/LFRic_kernel_structure.md
  tutorial/practicals/LFRic/building_code/1_simple_kernels/part1/README.md
  tutorial/practicals/LFRic/building_code/1_simple_kernels/part2/README.md
Labels: ready to be merged, LFRic

#1607 add matmul 2 code transformation to psyad (closes 1559)
  changelog
  doc/psyad/user_guide/implementation.rst
  examples/psyad/eg2/Makefile
  psyclone.pdf
  src/psyclone/kernel_tools.py
  src/psyclone/psyad/transformations/preprocess.py
  src/psyclone/tests/psyad/transformations/test_preprocess.py
Labels: ready to be merged, adjoint

#1527 lower_to_language LFRic built-ins (towards #1525)
  changelog
  doc/developer_guide/APIs.rst
  psyclone.pdf
  src/psyclone/domain/lfric/lfric_builtins.py
  src/psyclone/tests/domain/lfric/lfric_builtins_test.py
  src/psyclone/tests/domain/lfric/lfric_integer_builtins_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_extract_test.py
  src/psyclone/tests/test_files/dynamo0p3/15.21.3_int_a_plus_X_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.21.4_int_inc_a_plus_X_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.22.3_int_a_minus_X_builtin.f90
  src/psyclone/tests/test_files/dynamo0p3/15.22.4_int_inc_a_minus_X_builtin.f90
Labels: ready to be merged, LFRic, PSyIR

#1616 Examples/NEMO. Fix list of files to profile + typos (closes #1615)
  changelog
  examples/nemo/scripts/kernels_trans.py
  examples/nemo/scripts/process_nemo.py
Labels: ready to be merged

#1622 Fix LFRic algorithm PSyIR unresolved invoke error (towards #1618)
  changelog
  doc/developer_guide/parsing.rst
  doc/developer_guide/psyir.rst
  doc/developer_guide/psyir_backends.rst
  psyclone.pdf
  src/psyclone/domain/common/algorithm/psyir.py
  src/psyclone/domain/common/transformations/invokecall_trans.py
  src/psyclone/generator.py
  src/psyclone/tests/domain/common/algorithm/alg_psyir_test.py
  src/psyclone/tests/generator_test.py
Labels: bug, ready to be merged, LFRic

#1609 (closes #1584, #1041, #490) Add OMP/ACC directives to support device subroutines
  changelog
  doc/developer_guide/transformations.rst
  doc/user_guide/transformations.rst
  examples/nemo/scripts/kernels_trans.py
  psyclone.pdf
  src/psyclone/dynamo0p3.py
  src/psyclone/f2pygen.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/nodes/__init__.py
  src/psyclone/psyir/nodes/acc_directives.py
  src/psyclone/psyir/nodes/codeblock.py
  src/psyclone/psyir/nodes/omp_directives.py
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/psyir/nodes/acc_directives_test.py
  src/psyclone/tests/psyir/nodes/codeblock_test.py
  src/psyclone/tests/psyir/nodes/omp_directives_test.py
  src/psyclone/tests/psyir/transformations/kernel_transformation_test.py
  src/psyclone/tests/psyir/transformations/transformations_test.py
  src/psyclone/transformations.py
Labels: ready to be merged, NEMO, PSyIR
