Repository stfc/PSyclone, pull requests merged in 2022-03, with the labels that each got.

#1624 Fix LFRic algorithm PSyIR module and subroutine algorithm names error (towards #1618)
  changelog
  src/psyclone/domain/common/algorithm/psyir.py
  src/psyclone/domain/lfric/algorithm/psyir.py
  src/psyclone/tests/domain/common/algorithm/alg_psyir_test.py
  src/psyclone/tests/domain/lfric/algorithm/lfric_alg_psyir_test.py
Labels: bug, ready to be merged, LFRic

#1637 (Closes #1634) Add HoistLocalArraysTrans transformation.
  changelog
  doc/user_guide/transformations.rst
  psyclone.pdf
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/frontend/fortran.py
  src/psyclone/psyir/symbols/datatypes.py
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/psyir/transformations/__init__.py
  src/psyclone/psyir/transformations/hoist_local_arrays_trans.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/frontend/fortran_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
  src/psyclone/tests/psyir/transformations/hoist_local_arrays_trans_test.py
Labels: enhancement, ready to be merged, PSyIR

#1553 (closes #1134) Finish moving OpenCL into its own transformation
  changelog
  doc/developer_guide/psyir_backends.rst
  doc/developer_guide/transformations.rst
  doc/user_guide/transformations.rst
  examples/gocean/eg3/Makefile
  examples/gocean/eg4/Makefile
  psyclone.pdf
  src/psyclone/domain/gocean/transformations/gocean_opencl_trans.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/backend/c.py
  src/psyclone/psyir/backend/opencl.py
  src/psyclone/psyir/nodes/array_reference.py
  src/psyclone/psyir/nodes/loop.py
  src/psyclone/psyir/symbols/datatypes.py
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/tests/domain/gocean/goloop_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean_opencl_trans_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/nodes/array_reference_test.py
  src/psyclone/tests/psyir/nodes/assignment_test.py
  src/psyclone/tests/psyir/nodes/loop_test.py
  src/psyclone/tests/psyir/transformations/profile_test.py
Labels: ready to be merged, GOcean

#1663 (Closes #1626) Enhance Markdown link checks
  .github/workflows/mlc_config.json
  .github/workflows/python-package.yml
  doc/developer_guide/working_practises.rst
  mlc_config.json
Labels: ready to be merged

#1672 Fix BOZ literal standard incompatibility
  changelog
  lib/profiling/nvidia/nvtx_prof.f90
Labels: enhancement, ready for review, ready to be merged

#1670 (close #1650) Fix inconsistencies in symbol tables
  changelog
  psyclone.pdf
  src/psyclone/domain/nemo/transformations/create_nemo_invoke_schedule_trans.py
  src/psyclone/domain/nemo/transformations/create_nemo_kernel_trans.py
  src/psyclone/domain/nemo/transformations/create_nemo_loop_trans.py
  src/psyclone/domain/nemo/transformations/create_nemo_psy_trans.py
  src/psyclone/dynamo0p3.py
  src/psyclone/gocean1p0.py
  src/psyclone/nemo.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/frontend/fortran.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/container.py
  src/psyclone/psyir/nodes/file_container.py
  src/psyclone/psyir/nodes/routine.py
  src/psyclone/psyir/nodes/scoping_node.py
  src/psyclone/psyir/symbols/containersymbol.py
  src/psyclone/psyir/symbols/data_type_symbol.py
  src/psyclone/psyir/symbols/datasymbol.py
  src/psyclone/psyir/symbols/routinesymbol.py
  src/psyclone/psyir/symbols/symbol.py
  src/psyclone/psyir/symbols/symboltable.py
  src/psyclone/tests/domain/common/extract_driver_creator_test.py
  src/psyclone/tests/domain/gocean/transformations/globalstoargs_test.py
  src/psyclone/tests/domain/nemo/transformations/nemo_arrayrange2loop_trans_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyad/adjoint_visitor_test.py
  src/psyclone/tests/psyad/tl2ad_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/nodes/file_container_test.py
  src/psyclone/tests/psyir/nodes/routine_test.py
  src/psyclone/tests/psyir/symbols/containersymbol_test.py
  src/psyclone/tests/psyir/symbols/data_type_symbol_test.py
  src/psyclone/tests/psyir/symbols/datasymbol_test.py
  src/psyclone/tests/psyir/symbols/datatype_test.py
  src/psyclone/tests/psyir/symbols/routinesymbol_test.py
  src/psyclone/tests/psyir/symbols/symbol_test.py
  src/psyclone/tests/psyir/symbols/symboltable_test.py
  src/psyclone/tests/psyir/transformations/profile_test.py
Labels: ready to be merged, PSyIR

#1674 (Closes #1644) fix bounds copying error in matmul_trans
  changelog
  src/psyclone/psyir/transformations/intrinsics/matmul2code_trans.py
  src/psyclone/tests/psyir/transformations/intrinsics/matmul2code_trans_test.py
Labels: bug, ready to be merged, PSyIR, adjoint

#1677 Ignore MyBinder HTTP503 in mlc GitHub Action
  .github/workflows/mlc_config.json
Labels: under review
