Repository stfc/PSyclone, pull requests merged in 2023-12, with the labels that each got.

#2428 fix maxval2loop bug (issue #2427)
  changelog
  psyclone.pdf
  src/psyclone/psyir/transformations/intrinsics/maxval2loop_trans.py
  src/psyclone/tests/psyir/transformations/intrinsics/array_reduction_base_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/maxval2loop_trans_test.py
Labels: bug, ready to be merged, NEMO

#2430 (Towards 2421) Suggested fix to inline trans
  src/psyclone/psyir/transformations/inline_trans.py
  src/psyclone/tests/psyir/transformations/inline_trans_test.py
Labels: ready to be merged

#2412 (Closes #2411) remove NemoKern
  changelog
  doc/developer_guide/transformations.rst
  doc/developer_guide/working_practises.rst
  doc/user_guide/profiling.rst
  doc/user_guide/psyclone_command.rst
  examples/nemo/eg1/openmp_cpu_levels_trans.py
  examples/nemo/eg2/omp_levels_trans.py
  examples/nemo/eg4/copy_stencil.ipynb
  examples/nemo/eg4/sir_trans_all.py
  examples/nemo/scripts/acc_kernels_trans.py
  psyclone.pdf
  src/psyclone/domain/nemo/transformations/__init__.py
  src/psyclone/domain/nemo/transformations/create_nemo_kernel_trans.py
  src/psyclone/domain/nemo/transformations/create_nemo_psy_trans.py
  src/psyclone/domain/nemo/transformations/nemo_allarrayrange2loop_trans.py
  src/psyclone/domain/nemo/transformations/nemo_arrayaccess2loop_trans.py
  src/psyclone/domain/nemo/transformations/nemo_arrayrange2loop_trans.py
  src/psyclone/domain/nemo/transformations/nemo_outerarrayrange2loop_trans.py
  src/psyclone/generator.py
  src/psyclone/nemo.py
  src/psyclone/profiler.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/backend/sir.py
  src/psyclone/psyir/frontend/fortran.py
  src/psyclone/psyir/nodes/omp_directives.py
  src/psyclone/tests/domain/nemo/nodes/nemo_loop_test.py
  src/psyclone/tests/domain/nemo/transformations/create_nemo_kernel_trans_test.py
  src/psyclone/tests/domain/nemo/transformations/create_nemo_psy_trans_test.py
  src/psyclone/tests/domain/nemo/transformations/nemo_arrayaccess2loop_trans_test.py
  src/psyclone/tests/domain/nemo/transformations/nemo_arrayrange2loop_trans_test.py
  src/psyclone/tests/generator_test.py
  src/psyclone/tests/nemo/nemo_psy_test.py
  src/psyclone/tests/nemo/transformations/openmp/openmp_test.py
  src/psyclone/tests/nemo/transformations/profiling/nemo_profile_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/backend/psyir_openacc_test.py
  src/psyclone/tests/psyir/backend/sir_test.py
  src/psyclone/tests/psyir/nodes/profile_node_test.py
  src/psyclone/tests/psyir/transformations/profile_test.py
  tutorial/notebooks/nemo/nemo_example3.ipynb
  tutorial/practicals/nemo/2_nemo_profiling/Makefile
  tutorial/practicals/nemo/2_nemo_profiling/README.md
  tutorial/practicals/nemo/3_nemo_openmp/Makefile
  tutorial/practicals/nemo/3_nemo_openmp/README.md
Labels: ready to be merged, NEMO

#2401 (Closes #2261) Splitting and renaming DynLoop
  changelog
  doc/developer_guide/APIs.rst
  doc/developer_guide/psyir.rst
  psyclone.pdf
  src/psyclone/domain/common/psylayer/psyloop.py
  src/psyclone/domain/lfric/__init__.py
  src/psyclone/domain/lfric/lfric_builtins.py
  src/psyclone/domain/lfric/lfric_extract_driver_creator.py
  src/psyclone/domain/lfric/lfric_kern.py
  src/psyclone/domain/lfric/lfric_kern_call_factory.py
  src/psyclone/domain/lfric/lfric_loop.py
  src/psyclone/domain/lfric/transformations/lfric_extract_trans.py
  src/psyclone/domain/lfric/transformations/lfric_loop_fuse_trans.py
  src/psyclone/dynamo0p3.py
  src/psyclone/profiler.py
  src/psyclone/tests/domain/lfric/arg_ordering_test.py
  src/psyclone/tests/domain/lfric/lfric_domain_kernels_test.py
  src/psyclone/tests/domain/lfric/lfric_kern_test.py
  src/psyclone/tests/domain/lfric/lfric_loop_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_extract_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_haloex_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/psyir/nodes/loop_test.py
  src/psyclone/tests/psyir/transformations/loop_trans_test.py
  src/psyclone/transformations.py
Labels: ready to be merged, LFRic

#2434 (closes #2433) process_nemo.py argparse aggregates provided -I flags
  changelog
  examples/nemo/scripts/process_nemo.py
  psyclone.pdf
Labels: ready to be merged, NEMO

#2426 (closes #2254) Make PSyAD harness use logging in LFRic version
  changelog
  psyclone.pdf
  src/psyclone/psyad/domain/common/__init__.py
  src/psyclone/psyad/domain/common/adjoint_utils.py
  src/psyclone/psyad/domain/lfric/lfric_adjoint_harness.py
  src/psyclone/psyir/symbols/datatypes.py
  src/psyclone/tests/psyad/domain/common/test_adjoint_utils.py
  src/psyclone/tests/psyad/domain/lfric/test_lfric_adjoint_harness.py
Labels: ready to be merged, adjoint

#2273 #2272 Split LFRicFields into domain/lfric module
  changelog
  psyclone.pdf
  src/psyclone/domain/lfric/__init__.py
  src/psyclone/domain/lfric/lfric_fields.py
  src/psyclone/domain/lfric/lfric_invoke.py
  src/psyclone/domain/lfric/lfric_kern.py
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/domain/lfric/lfric_field_mdata_test.py
  src/psyclone/tests/domain/lfric/lfric_field_stubgen_test.py
Labels: enhancement, under review, ready to be merged, LFRic

#2393 #2392 splitting and renaming DynKernMetadata
  changelog
  doc/developer_guide/APIs.rst
  doc/developer_guide/parsing.rst
  psyclone.pdf
  src/psyclone/domain/lfric/__init__.py
  src/psyclone/domain/lfric/lfric_kern.py
  src/psyclone/domain/lfric/lfric_kern_metadata.py
  src/psyclone/dynamo0p3.py
  src/psyclone/gen_kernel_stub.py
  src/psyclone/parse/kernel.py
  src/psyclone/tests/dependency_test.py
  src/psyclone/tests/domain/lfric/arg_ordering_test.py
  src/psyclone/tests/domain/lfric/lfric_domain_kernels_test.py
  src/psyclone/tests/domain/lfric/lfric_field_mdata_test.py
  src/psyclone/tests/domain/lfric/lfric_field_stubgen_test.py
  src/psyclone/tests/domain/lfric/lfric_kern_test.py
  src/psyclone/tests/domain/lfric/lfric_loop_test.py
  src/psyclone/tests/domain/lfric/lfric_mesh_props_stubgen_test.py
  src/psyclone/tests/domain/lfric/lfric_mesh_props_test.py
  src/psyclone/tests/domain/lfric/lfric_ref_elem_stubgen_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_mdata_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_stubgen_test.py
  src/psyclone/tests/domain/lfric/lfric_stencil_stubgen_test.py
  src/psyclone/tests/domain/lfric/lfric_stencil_test.py
  src/psyclone/tests/dynamo0p3_basis_test.py
  src/psyclone/tests/dynamo0p3_cma_test.py
  src/psyclone/tests/dynamo0p3_lma_test.py
  src/psyclone/tests/dynamo0p3_multigrid_test.py
  src/psyclone/tests/dynamo0p3_quadrature_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/lfric_ref_elem_test.py
  src/psyclone/tests/psyGen_test.py
Labels: under review, ready to be merged, LFRic

#2440 Update CI software dependencies
  .github/workflows/compilation.yml
  .github/workflows/lfric_test.yml
  .github/workflows/nemo_tests.yml
  changelog
Labels: ready to be merged
