Repository stfc/PSyclone, pull requests merged in 2023-09, with the labels that each got.

#2295 2294 support char in extraction
  changelog
  doc/developer_guide/psy_data.rst
  lib/extract/netcdf/Makefile
  lib/extract/netcdf/extract_netcdf_base.jinja
  lib/extract/netcdf/lfric/Makefile
  lib/extract/netcdf/read_kernel_data_mod.f90
  lib/extract/netcdf/read_kernel_data_mod.jinja
  lib/extract/standalone/Makefile
  lib/extract/standalone/extract_standalone_base.jinja
  lib/extract/standalone/lfric/Makefile
  lib/extract/standalone/read_kernel_data_mod.f90
  lib/extract/standalone/read_kernel_data_mod.jinja
  lib/process.py
  psyclone.pdf
Labels: enhancement, ready to be merged

#2301 (Closes #2293) Add 'is_independent' property/query to Loop
  changelog
  doc/developer_guide/dependency.rst
  examples/nemo/scripts/utils.py
  src/psyclone/dynamo0p3.py
  src/psyclone/gocean1p0.py
  src/psyclone/psyir/nodes/loop.py
  src/psyclone/psyir/tools/dependency_tools.py
  src/psyclone/psyir/transformations/parallel_loop_trans.py
  src/psyclone/tests/domain/gocean/goloop_test.py
  src/psyclone/tests/domain/lfric/lfric_loop_test.py
  src/psyclone/tests/psyir/nodes/loop_test.py
  src/psyclone/tests/psyir/tools/dependency_tools_test.py
  src/psyclone/tests/psyir/transformations/parallel_loop_trans_test.py
  src/psyclone/tests/psyir/transformations/transformations_test.py
Labels: ready to be merged, LFRic, PSyIR

#2309 (Closes #1558) support out-of-order parameter statements
  changelog
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/psyir/frontend/fparser2_parameter_stmts_test.py
Labels: ready to be merged, NEMO, PSyIR

#2320 (Closes #2242) Update doc configuration to fix RTD builds
  changelog
  doc/developer_guide/.readthedocs.yaml
  doc/developer_guide/pip_requirements.txt
  doc/reference_guide/.readthedocs.yaml
  doc/reference_guide/pip_requirements.txt
  doc/user_guide/.readthedocs.yaml
  doc/user_guide/pip_requirements.txt
Labels: ready to be merged

#2264 2263 splitting LFRic scalar args
  changelog
  psyclone.pdf
  src/psyclone/domain/lfric/__init__.py
  src/psyclone/domain/lfric/lfric_invoke.py
  src/psyclone/domain/lfric/lfric_scalar_args.py
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/domain/lfric/lfric_scalar_mdata_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_stubgen_test.py
Labels: under review, ready to be merged, LFRic

#2329 (Towards 2205, Closes 2315) Programs now handle contains statements to result in code blocks
  changelog
  psyclone.pdf
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/psyir/frontend/fparser2_main_program_handler_test.py
Labels: enhancement, ready to be merged, socrates

#2327 (towards #2132) Update LFRic workflow to trunk, use spack, and post performance results
  .github/workflows/compilation.yml
  .github/workflows/lfric_test.yml
  .github/workflows/nemo_tests.yml
  changelog
  doc/developer_guide/working_practises.rst
  examples/lfric/scripts/Makefile
  examples/lfric/scripts/compare_ouput.py
  psyclone.pdf
Labels: ready to be merged, Release

#2154 (Closes #95, #994) enforce valid Fortran names for invoke names
  changelog
  doc/user_guide/algorithm_layer.rst
  examples/lfric/eg14/main.x90
  examples/lfric/eg17/full_example/main.x90
  examples/lfric/eg17/full_example_extract/main.x90
  examples/lfric/eg17/full_example_netcdf/main.x90
  examples/lfric/eg4/solver_mod.x90
  psyclone.pdf
  src/psyclone/configuration.py
  src/psyclone/domain/common/algorithm/psyir.py
  src/psyclone/domain/common/transformations/raise_psyir_2_alg_trans.py
  src/psyclone/domain/gocean/kernel/psyir.py
  src/psyclone/domain/gocean/transformations/raise_psyir_2_gocean_kern_trans.py
  src/psyclone/domain/lfric/kernel/lfric_kernel_metadata.py
  src/psyclone/domain/lfric/transformations/raise_psyir_2_lfric_alg_trans.py
  src/psyclone/domain/lfric/transformations/raise_psyir_2_lfric_kern_trans.py
  src/psyclone/parse/algorithm.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/frontend/fortran.py
  src/psyclone/psyir/nodes/call.py
  src/psyclone/tests/domain/common/algorithm/alg_psyir_test.py
  src/psyclone/tests/domain/common/transformations/alg_invoke_2_psy_call_trans_test.py
  src/psyclone/tests/domain/common/transformations/raise_psyir_2_alg_trans_test.py
  src/psyclone/tests/domain/gocean/kernel/gocean_kern_psyir_test.py
  src/psyclone/tests/domain/lfric/algorithm/psyir/lfric_alg_invoke_call_test.py
  src/psyclone/tests/domain/lfric/kernel/lfric_kernel_metadata_test.py
  src/psyclone/tests/domain/lfric/transformations/raise_psyir_2_lfric_alg_trans_test.py
  src/psyclone/tests/parse/algorithm_test.py
  src/psyclone/tests/parse/parse_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/tests/psyir/nodes/call_test.py
  src/psyclone/tests/test_files/dynamo0p3/1.0.1_single_named_invoke.f90
  src/psyclone/tests/test_files/dynamo0p3/1.0.2_many_named_invoke.f90
  src/psyclone/tests/test_files/dynamo0p3/1.0.6_invoke_name_invalid_chars.f90
  src/psyclone/tests/test_files/dynamo0p3/3.2_multi_functions_multi_named_invokes.f90
  src/psyclone/tests/test_files/dynamo0p3/4.10_multi_position_named_invokes.f90
  src/psyclone/tests/test_files/dynamo0p3/4.14_multikernel_invokes_real_int_field_fs.f90
  src/psyclone/tests/test_files/dynamo0p3/4.15_multikernel_invokes_real_int_field_invalid.f90
  src/psyclone/tests/test_files/dynamo0p3/4.9_named_multikernel_invokes.f90
Labels: under review, ready to be merged, LFRic

#2332 #2318 Small change to fix 2318 before 1990 is merged.
  changelog
  psyclone.pdf
  src/psyclone/domain/lfric/lfric_extract_driver_creator.py
  src/psyclone/tests/domain/lfric/lfric_extract_driver_creator_test.py
Labels: bug, ready to be merged

#2287 (Closes #2253) allow for GH_WRITE access to continuous field args to inter-grid kernels
  changelog
  psyclone.pdf
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/dynamo0p3_multigrid_test.py
  src/psyclone/tests/test_files/dynamo0p3/22.1.1_intergrid_cont_restrict.f90
  src/psyclone/tests/test_files/dynamo0p3/restrict_w2_kernel_mod.F90
Labels: under review, ready to be merged, LFRic, Release

#2233 Correct kernel metadata for LFRic adjoint code (closes #1772)
  .gitignore
  changelog
  doc/psyad/user_guide/implementation.rst
  examples/psyad/lfric/adjoint/adj_combine_w2_field_kernel_mod.F90
  examples/psyad/lfric/adjoint/adj_dg_matrix_vector_kernel_mod.F90
  examples/psyad/lfric/adjoint/adj_hydrostatic_kernel_mod.F90
  examples/psyad/lfric/adjoint/adj_moist_dyn_mass_kernel_mod.F90
  examples/psyad/lfric/adjoint/adj_sample_flux_kernel_mod.F90
  examples/psyad/lfric/adjoint/adj_split_w2_field_kernel_mod.F90
  examples/psyad/lfric/adjoint/adj_tracer_viscosity_kernel_mod.F90
  examples/psyad/lfric/adjoint/adj_transpose_matrix_vector_kernel_mod.F90
  examples/psyad/lfric/adjoint/adj_w2_to_w1_projection_kernel_mod.F90
  examples/psyad/lfric/adjoint/adj_w3_advective_update_kernel_mod.F90
  examples/psyad/lfric/tangent_linear/Makefile
  examples/psyad/lfric/tangent_linear_tweaked/Makefile
  examples/psyad/lfric/tangent_linear_tweaked/convert_hdiv_field_kernel_mod_tweaked.F90
  examples/psyad/lfric/tangent_linear_tweaked/dg_inc_matrix_vector_kernel_mod_tweaked.F90
  examples/psyad/lfric/tangent_linear_tweaked/matrix_vector_kernel_mod_tweaked.F90
  examples/psyad/lfric/tangent_linear_tweaked/poly1d_w3_reconstruction_kernel_mod_tweaked.F90
  examples/psyad/lfric/tangent_linear_tweaked/poly2d_w3_reconstruction_kernel_mod_tweaked.F90
  examples/psyad/lfric/tangent_linear_tweaked/tl_calc_exner_pointwise_mod_tweaked.F90
  examples/psyad/lfric/tangent_linear_tweaked/tl_kinetic_energy_gradient_kernel_mod_tweaked.F90
  examples/psyad/lfric/tangent_linear_tweaked/tl_moist_dyn_gas_kernel_mod_tweaked.F90
  examples/psyad/lfric/tangent_linear_tweaked/tl_poly1d_vert_adv_kernel_mod_tweaked.F90
  examples/psyad/lfric/tangent_linear_tweaked/tl_poly1d_vert_w3_reconstruction_kernel_mod_tweaked.F90
  examples/psyad/lfric/tangent_linear_tweaked/tl_project_eos_pressure_kernel_mod_tweaked.F90
  examples/psyad/lfric/tangent_linear_tweaked/tl_rhs_project_eos_kernel_mod_tweaked.F90
  examples/psyad/lfric/tangent_linear_tweaked/tl_sample_eos_pressure_kernel_mod_tweaked.F90
  examples/psyad/lfric/tangent_linear_tweaked/tl_vorticity_advection_kernel_mod_tweaked.F90
  psyclone.pdf
  src/psyclone/domain/lfric/utils.py
  src/psyclone/psyad/domain/lfric/lfric_adjoint.py
  src/psyclone/tests/domain/lfric/test_utils.py
  src/psyclone/tests/psyad/domain/lfric/test_lfric_adjoint.py
  src/psyclone/tests/psyad/tl2ad_test.py
Labels: under review, ready to be merged, Release, adjoint

#2334 Fix missing back tic in docstrings
  src/psyclone/dynamo0p3.py
  src/psyclone/gocean1p0.py
Labels: bug, ready to be merged, Release

#2306 #2305 Renamed DynHaloExchange to LFRicHaloExchange
  changelog
  doc/developer_guide/APIs.rst
  doc/developer_guide/conf.py
  examples/lfric/scripts/async_halo_exchanges.py
  examples/lfric/scripts/everything_everywhere_all_at_once.py
  psyclone.pdf
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_extract_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_haloex_test.py
  src/psyclone/tests/dynamo0p3_multigrid_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/transformations.py
  tutorial/practicals/LFRic/distributed_memory/3_overlapping_comms/README.md
  tutorial/practicals/LFRic/distributed_memory/3_overlapping_comms/solutions/overlap_generic.py
Labels: under review, ready to be merged, LFRic, Release

#2199 LFRic: (Closes #2189) fix bugs with missing maps in enter data directive
  changelog
  src/psyclone/domain/lfric/kern_call_acc_arg_list.py
  src/psyclone/domain/lfric/kern_call_arg_list.py
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/dependency_test.py
  src/psyclone/tests/domain/lfric/kern_call_acc_arg_list_test.py
  src/psyclone/tests/domain/lfric/kern_call_arg_list_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/dynamo0p3_basis_test.py
  src/psyclone/tests/dynamo0p3_multigrid_test.py
  src/psyclone/tests/test_files/dynamo0p3/22.2_intergrid_3levels.f90
  src/psyclone/tests/test_files/dynamo0p3/6.1_eval_invoke.f90
Labels: bug, ready to be merged, LFRic
