Repository stfc/PSyclone, pull requests merged in 2023-11, with the labels that each got.

#2385 Switch to Python 3.12 and other small tweaks
  .github/workflows/compilation.yml
  .github/workflows/lfric_test.yml
  .github/workflows/nemo_tests.yml
  .github/workflows/python-package.yml
  changelog
  doc/developer_guide/.readthedocs.yaml
  doc/developer_guide/working_practises.rst
  doc/psyad/user_guide/.readthedocs.yaml
  doc/reference_guide/.readthedocs.yaml
  doc/user_guide/.readthedocs.yaml
  doc/user_guide/getting_going.rst
  examples/lfric/scripts/inline_kernels_and_intrinsics.py
  examples/psyir/create_structure_types.py
  src/psyclone/psyir/nodes/acc_directives.py
  src/psyclone/psyir/nodes/intrinsic_call.py
  src/psyclone/tests/domain/common/transformations/alg_invoke_2_psy_call_trans_test.py
  src/psyclone/tests/domain/lfric/kernel/common_arg_metadata_test.py
  src/psyclone/tests/domain/lfric/kernel/common_meta_arg_metadata_test.py
  src/psyclone/tests/domain/lfric/kernel/common_metadata_test.py
  src/psyclone/tests/domain/lfric/lfric_builtins_test.py
  src/psyclone/tests/psyad/transformations/test_adjoint_trans.py
  src/psyclone/tests/psyir/symbols/datatype_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/intrinsic2code_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/mms_base_trans_test.py
  src/psyclone/tests/psyir/transformations/transformations_test.py
  tutorial/notebooks/README.md
Labels: ready to be merged

#2377 Add `depth` kwarg to `Node.walk`
  changelog
  psyclone.pdf
  src/psyclone/psyir/nodes/node.py
  src/psyclone/tests/psyir/nodes/node_test.py
Labels: enhancement, ready to be merged

#2362 (Closes #2243 and #2312) add support for save stmt
  .github/workflows/nemo_tests.yml
  changelog
  examples/nemo/scripts/Makefile
  examples/nemo/scripts/process_nemo.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/frontend/fortran.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/symbols/datatypes.py
  src/psyclone/tests/psyir/backend/fortran_unknown_declns_test.py
  src/psyclone/tests/psyir/frontend/fparser2_interface_block_test.py
  src/psyclone/tests/psyir/frontend/fparser2_save_stmts_test.py
  src/psyclone/tests/psyir/frontend/fparser2_subroutine_handler_test.py
  src/psyclone/tests/psyir/symbols/datatype_test.py
Labels: ready to be merged, NEMO

#2379 Add `Node.get_sibling_lists` method
  changelog
  doc/user_guide/conf.py
  doc/user_guide/psyir.rst
  psyclone.pdf
  src/psyclone/psyir/nodes/node.py
  src/psyclone/tests/psyir/nodes/node_test.py
Labels: enhancement, ready to be merged

#2366 (Towards #342) tighten-up ACCRoutineTrans.validate() and test
  changelog
  examples/gocean/eg2/acc_transform.py
  examples/gocean/eg4/acc_transform.py
  examples/nemo/scripts/acc_kernels_trans.py
  examples/nemo/scripts/acc_loops_trans.py
  src/psyclone/domain/lfric/arg_ordering.py
  src/psyclone/domain/lfric/kernel_interface.py
  src/psyclone/dynamo0p3.py
  src/psyclone/psyad/tl2ad.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/symbols/datasymbol.py
  src/psyclone/psyir/symbols/symbol.py
  src/psyclone/psyir/symbols/symbol_table.py
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/domain/lfric/kernel_interface_test.py
  src/psyclone/tests/psyir/frontend/fparser2_intrinsic_handler_test.py
  src/psyclone/tests/psyir/frontend/fparser2_kind_params_test.py
  src/psyclone/tests/psyir/frontend/fparser2_where_handler_test.py
  src/psyclone/tests/psyir/symbols/datasymbol_test.py
  src/psyclone/tests/psyir/symbols/symbol_test.py
  src/psyclone/tests/psyir/transformations/kernel_transformation_test.py
  src/psyclone/tests/test_files/dynamo0p3/1.15_invoke_kern_with_call.f90
  src/psyclone/tests/test_files/dynamo0p3/testkern_with_call_mod.F90
  src/psyclone/transformations.py
Labels: ready to be merged, LFRic

#2383 (towards #2256) Add support for Fortran do concurrent
  changelog
  psyclone.pdf
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/psyir/frontend/fparser2_do_handler_test.py
Labels: ready to be merged

#2100 2091: renaming and moving DynKern to LFRicKern
  changelog
  doc/developer_guide/APIs.rst
  doc/developer_guide/modules.rst
  doc/developer_guide/psyir.rst
  psyclone.pdf
  src/psyclone/domain/lfric/__init__.py
  src/psyclone/domain/lfric/algorithm/lfric_alg.py
  src/psyclone/domain/lfric/arg_ordering.py
  src/psyclone/domain/lfric/kern_call_arg_list.py
  src/psyclone/domain/lfric/kern_call_invoke_arg_list.py
  src/psyclone/domain/lfric/kern_stub_arg_list.py
  src/psyclone/domain/lfric/kernel_interface.py
  src/psyclone/domain/lfric/lfric_collection.py
  src/psyclone/domain/lfric/lfric_kern.py
  src/psyclone/domain/lfric/lfric_kern_call_factory.py
  src/psyclone/domain/lfric/lfric_scalar_args.py
  src/psyclone/dynamo0p3.py
  src/psyclone/gen_kernel_stub.py
  src/psyclone/psyad/domain/lfric/lfric_adjoint_harness.py
  src/psyclone/tests/dependency_test.py
  src/psyclone/tests/domain/lfric/algorithm/lfric_alg_test.py
  src/psyclone/tests/domain/lfric/arg_ordering_test.py
  src/psyclone/tests/domain/lfric/conftest.py
  src/psyclone/tests/domain/lfric/dyn_proxies_test.py
  src/psyclone/tests/domain/lfric/kern_call_acc_arg_list_test.py
  src/psyclone/tests/domain/lfric/kern_call_arg_list_test.py
  src/psyclone/tests/domain/lfric/kern_call_invoke_arg_list_test.py
  src/psyclone/tests/domain/lfric/lfric_domain_kernels_test.py
  src/psyclone/tests/domain/lfric/lfric_field_stubgen_test.py
  src/psyclone/tests/domain/lfric/lfric_kern_test.py
  src/psyclone/tests/domain/lfric/lfric_loop_test.py
  src/psyclone/tests/domain/lfric/lfric_mesh_props_stubgen_test.py
  src/psyclone/tests/domain/lfric/lfric_ref_elem_stubgen_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_mdata_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_stubgen_test.py
  src/psyclone/tests/domain/lfric/lfric_stencil_stubgen_test.py
  src/psyclone/tests/domain/lfric/lfric_stencil_test.py
  src/psyclone/tests/dynamo0p3_basis_test.py
  src/psyclone/tests/dynamo0p3_lma_test.py
  src/psyclone/tests/dynamo0p3_quadrature_test.py
  src/psyclone/tests/dynamo0p3_stubgen_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/psyGen_test.py
  src/psyclone/transformations.py
Labels: ready to be merged, LFRic

#2391 generator.py exception message bug fix (closes #2390)
  changelog
  psyclone.pdf
  src/psyclone/generator.py
  src/psyclone/tests/generator_test.py
Labels: bug, ready to be merged, LFRic

#2364 1941 move precision map vals to conf
  changelog
  config/psyclone.cfg
  doc/user_guide/configuration.rst
  doc/user_guide/dynamo0p3.rst
  psyclone.pdf
  src/psyclone/configuration.py
  src/psyclone/domain/lfric/lfric_constants.py
  src/psyclone/domain/lfric/lfric_extract_driver_creator.py
  src/psyclone/domain/lfric/lfric_kern.py
  src/psyclone/domain/lfric/lfric_symbol_table.py
  src/psyclone/domain/lfric/lfric_types.py
  src/psyclone/tests/config_test.py
  src/psyclone/tests/domain/lfric/lfric_config_test.py
  src/psyclone/tests/domain/lfric/lfric_kern_test.py
  src/psyclone/tests/domain/lfric/lfric_types_test.py
  src/psyclone/tests/test_files/dummy_config.cfg
  src/psyclone/tests/test_files/gocean1p0/gocean_default.cfg
  tutorial/practicals/LFRic/distributed_memory/2_annexed_dofs/psyclone.cfg
  tutorial/practicals/LFRic/distributed_memory/3_overlapping_comms/psyclone.cfg
  tutorial/practicals/LFRic/single_node/1_openmp/psyclone.cfg
Labels: ready to be merged, LFRic

#2406 (closes #2404) Fix error in setop_random
  changelog
  psyclone.pdf
  src/psyclone/tests/test_files/dynamo0p3/setop_random_kernel_mod.f90
Labels: bug, ready to be merged, adjoint

#2388 Improved maxval, minval and sum to code transformation (closes #2323)
  changelog
  doc/user_guide/transformations.rst
  src/psyclone/domain/nemo/transformations/nemo_arrayrange2loop_trans.py
  src/psyclone/psyir/transformations/__init__.py
  src/psyclone/psyir/transformations/intrinsics/array_reduction_base_trans.py
  src/psyclone/psyir/transformations/intrinsics/maxval2loop_trans.py
  src/psyclone/psyir/transformations/intrinsics/minval2loop_trans.py
  src/psyclone/psyir/transformations/intrinsics/mms_base_trans.py
  src/psyclone/psyir/transformations/intrinsics/product2loop_trans.py
  src/psyclone/psyir/transformations/intrinsics/sum2loop_trans.py
  src/psyclone/psyir/transformations/reference2arrayrange_trans.py
  src/psyclone/tests/domain/nemo/transformations/nemo_arrayrange2loop_trans_test.py
  src/psyclone/tests/nemo/test_files/fixed_lhs.f90
  src/psyclone/tests/psyir/transformations/intrinsics/array_reduction_base_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/maxval2loop_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/minval2loop_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/mms_base_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/product2loop_trans_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/sum2loop_trans_test.py
Labels: ready to be merged, NEMO

#2400 (closes #1508) allow PSyIR backend checks to be disabled
  changelog
  doc/developer_guide/psyir_backends.rst
  doc/user_guide/configuration.rst
  doc/user_guide/psyclone_command.rst
  doc/user_guide/psyir.rst
  psyclone.pdf
  src/psyclone/configuration.py
  src/psyclone/f2pygen.py
  src/psyclone/generator.py
  src/psyclone/nemo.py
  src/psyclone/psyGen.py
  src/psyclone/psyir/nodes/acc_directives.py
  src/psyclone/tests/config_test.py
  src/psyclone/tests/domain/gocean/transformations/gocean1p0_transformations_test.py
  src/psyclone/tests/f2pygen_test.py
  src/psyclone/tests/generator_test.py
  src/psyclone/tests/nemo/transformations/openacc/loop_directive_test.py
  src/psyclone/tests/psyir/nodes/acc_directives_test.py
Labels: under review, LFRic, NEMO, NEMOVAR
