Repository stfc/PSyclone, pull requests merged in 2023-06, with the labels that each got.

#2140 2139 encapuslate in out info
  changelog
  psyclone.pdf
  src/psyclone/core/single_variable_access_info.py
  src/psyclone/domain/common/extract_driver_creator.py
  src/psyclone/domain/gocean/transformations/gocean_extract_trans.py
  src/psyclone/domain/lfric/lfric_extract_driver_creator.py
  src/psyclone/domain/lfric/transformations/lfric_extract_trans.py
  src/psyclone/psyad/adjoint_visitor.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/nodes/acc_directives.py
  src/psyclone/psyir/nodes/extract_node.py
  src/psyclone/psyir/nodes/nan_test_node.py
  src/psyclone/psyir/nodes/psy_data_node.py
  src/psyclone/psyir/nodes/read_only_verify_node.py
  src/psyclone/psyir/tools/__init__.py
  src/psyclone/psyir/tools/dependency_tools.py
  src/psyclone/psyir/tools/read_write_info.py
  src/psyclone/psyir/transformations/acc_update_trans.py
  src/psyclone/psyir/transformations/extract_trans.py
  src/psyclone/tests/core/single_variable_access_info_test.py
  src/psyclone/tests/domain/common/extract_driver_creator_test.py
  src/psyclone/tests/domain/lfric/lfric_extract_driver_creator_test.py
  src/psyclone/tests/psyir/nodes/psy_data_node_test.py
  src/psyclone/tests/psyir/tools/dependency_tools_test.py
  src/psyclone/tests/psyir/tools/read_write_info_test.py
  src/psyclone/tests/psyir/transformations/extract_test.py
Labels: ready to be merged, PSyData

#2170 Fix bug in datatypes.py (closes #2169)
  changelog
  src/psyclone/psyir/symbols/datatypes.py
Labels: bug, ready to be merged, PSyIR

#2131 Improve error handling when builtin symbol is a call (toward #1618)
  changelog
  doc/user_guide/built_ins.rst
  psyclone.pdf
  src/psyclone/domain/common/transformations/raise_psyir_2_alg_trans.py
  src/psyclone/generator.py
  src/psyclone/tests/domain/common/transformations/raise_psyir_2_alg_trans_test.py
  src/psyclone/tests/domain/lfric/transformations/raise_psyir_2_lfric_alg_trans_test.py
  src/psyclone/tests/generator_test.py
Labels: ready to be merged, LFRic

#2147 (Closes #2119) Add support for elemental and pure routine attributes
  changelog
  src/psyclone/domain/nemo/transformations/nemo_arrayrange2loop_trans.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/call.py
  src/psyclone/psyir/nodes/intrinsic_call.py
  src/psyclone/psyir/nodes/operation.py
  src/psyclone/psyir/nodes/routine.py
  src/psyclone/psyir/symbols/routinesymbol.py
  src/psyclone/tests/domain/common/extract_driver_creator_test.py
  src/psyclone/tests/domain/nemo/transformations/nemo_arrayrange2loop_trans_test.py
  src/psyclone/tests/psyir/backend/fortran_unknown_declns_test.py
  src/psyclone/tests/psyir/frontend/fparser2_subroutine_handler_test.py
  src/psyclone/tests/psyir/nodes/call_test.py
  src/psyclone/tests/psyir/nodes/intrinsic_call_test.py
  src/psyclone/tests/psyir/nodes/operation_test.py
  src/psyclone/tests/psyir/nodes/routine_test.py
  src/psyclone/tests/psyir/symbols/routinesymbol_test.py
  src/psyclone/tests/psyir/symbols/symbol_test.py
Labels: under review, NEMO, PSyIR

#2181 (closes #2175) Fix issues with integer literal validation and uncaught frontend exceptions
  changelog
  psyclone.pdf
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/literal.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/nodes/literal_test.py
Labels: bug, ready to be merged

#2107 (close #2106) Improvements to the NEMO OpenMP generation scripts
  .github/workflows/nemo_tests.yml
  changelog
  doc/developer_guide/working_practises.rst
  examples/nemo/scripts/.gitignore
  examples/nemo/scripts/Makefile
  examples/nemo/scripts/omp_cpu_trans.py
  examples/nemo/scripts/omp_gpu_trans.py
  examples/nemo/scripts/process_nemo.py
  examples/nemo/scripts/utils.py
  psyclone.pdf
  src/psyclone/domain/nemo/transformations/nemo_allarrayrange2loop_trans.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/tools/dependency_tools.py
  src/psyclone/tests/domain/nemo/transformations/nemo_allarrayrange2loop_trans_test.py
  src/psyclone/tests/psyir/tools/dependency_tools_test.py
Labels: ready to be merged, NEMO

#2198 (Closes #2194) Potential fix for 2194
  changelog
  psyclone.pdf
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/psyir/frontend/fparser2_fortran_use_test.py
Labels: ready to be merged

#2187 remove builtin use statement when lowering (towards #1618)
  changelog
  psyclone.pdf
  src/psyclone/generator.py
  src/psyclone/tests/generator_test.py
Labels: ready to be merged, LFRic

#2191 Fix element_order error (closes #2185)
  changelog
  src/psyclone/domain/lfric/algorithm/lfric_alg.py
  src/psyclone/tests/domain/lfric/algorithm/lfric_alg_test.py
  src/psyclone/tests/psyad/domain/lfric/test_lfric_adjoint_harness.py
Labels: ready to be merged, adjoint
