Repository stfc/PSyclone, pull requests merged in 2023-04, with the labels that each got.

#2048 new arg ordering class using new metadata classes (towards #1772)
  changelog
  psyclone.pdf
  src/psyclone/domain/lfric/__init__.py
  src/psyclone/domain/lfric/arg_index_to_metadata_index.py
  src/psyclone/domain/lfric/kernel/lfric_kernel_metadata.py
  src/psyclone/domain/lfric/metadata_to_arguments_rules.py
  src/psyclone/tests/domain/lfric/arg_index_to_metadata_index_test.py
  src/psyclone/tests/domain/lfric/kernel/lfric_kernel_metadata_test.py
  src/psyclone/tests/domain/lfric/metadata_to_arguments_rules_test.py
Labels: ready to be merged, LFRic, adjoint

#2085 Add minval, maxval and sum IntrinsicCalls (closes #840)
  changelog
  examples/nemo/scripts/kernels_trans.py
  examples/psyir/create.py
  examples/psyir/modify.py
  src/psyclone/domain/nemo/transformations/create_nemo_kernel_trans.py
  src/psyclone/psyad/tl2ad.py
  src/psyclone/psyad/transformations/assignment_trans.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/psyir/nodes/assignment.py
  src/psyclone/psyir/nodes/call.py
  src/psyclone/psyir/nodes/intrinsic_call.py
  src/psyclone/psyir/nodes/operation.py
  src/psyclone/psyir/transformations/acc_update_trans.py
  src/psyclone/psyir/transformations/intrinsics/sum2code_trans.py
  src/psyclone/tests/domain/nemo/transformations/acc_update_test.py
  src/psyclone/tests/psyad/transformations/test_preprocess.py
  src/psyclone/tests/psyir/backend/fortran_test.py
  src/psyclone/tests/psyir/backend/sir_test.py
  src/psyclone/tests/psyir/frontend/fparser2_call_handler_test.py
  src/psyclone/tests/psyir/frontend/fparser2_intrinsic_handler_test.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/nodes/assignment_test.py
  src/psyclone/tests/psyir/nodes/call_test.py
  src/psyclone/tests/psyir/nodes/intrinsic_call_test.py
  src/psyclone/tests/psyir/nodes/omp_directives_test.py
  src/psyclone/tests/psyir/nodes/operation_test.py
  src/psyclone/tests/psyir/transformations/intrinsics/sum2code_trans_test.py
  src/psyclone/transformations.py
  tutorial/practicals/nemo/4_nemo_openacc/README.md
  tutorial/practicals/nemo/4_nemo_openacc/solutions/kernels_trans.py
Labels: ready to be merged, NEMO

#2077 Add new metadata descriptions to lfric builtin classes (closes #2075).
  changelog
  psyclone.pdf
  src/psyclone/configuration.py
  src/psyclone/domain/lfric/lfric_builtins.py
  src/psyclone/domain/lfric/lfric_constants.py
  src/psyclone/tests/config_test.py
  src/psyclone/tests/domain/lfric/builtins/setval_random_test.py
  src/psyclone/tests/domain/lfric/lfric_builtins_test.py
  src/psyclone/tests/domain/lfric/lfric_integer_builtins_test.py
  src/psyclone/tests/utils_test.py
  src/psyclone/utils.py
Labels: under review, ready to be merged, LFRic

#2104 Example code should use a function (towards #1618)
  changelog
  examples/lfric/code/gw_mixed_schur_preconditioner_alg_mod.x90
  psyclone.pdf
Labels: under review, ready to be merged, LFRic

#2103 Support interfaces whose symbols are already declared (towards #1618)
  changelog
  doc/developer_guide/psyir_symbols.rst
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/psyir/frontend/fparser2_interface_block_test.py
Labels: ready to be merged, LFRic, PSyIR

#2099 Updates for 2023 Nemo training
  changelog
  tutorial/notebooks/fparser2/parsing_fortran.ipynb
  tutorial/notebooks/introduction.ipynb
  tutorial/notebooks/nemo/nemo_example3.ipynb
  tutorial/notebooks/psyir/psyir_example1.ipynb
  tutorial/notebooks/psyir/psyir_example2.ipynb
  tutorial/practicals/LFRic/README.md
  tutorial/practicals/README.md
  tutorial/practicals/nemo/1_nemo_psyir/README.md
  tutorial/practicals/nemo/2_nemo_profiling/README.md
  tutorial/practicals/nemo/3_nemo_openmp/README.md
  tutorial/practicals/nemo/4_nemo_openacc/README.md
  tutorial/practicals/nemo/README.md
Labels: ready to be merged, tutorial
