Repository stfc/PSyclone, pull requests merged in 2024-08, with the labels that each got.

#2650 2630 some support for data statement
  changelog
  doc/developer_guide/psyir_symbols.rst
  psyclone.pdf
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/psyir/frontend/fparser2_data_statement_test.py
Labels: ready to be merged, NG-ARCH

#2679 (closes #2676) Fix Nemo reproducibility issue
  .github/workflows/lfric_test.yml
  .github/workflows/nemo_tests.yml
  changelog
  examples/nemo/scripts/utils.py
  psyclone.pdf
  src/psyclone/psyir/transformations/parallel_loop_trans.py
  src/psyclone/tests/psyir/transformations/parallel_loop_trans_test.py
Labels: ready to be merged

#2523 (Towards #1719) Add/update LFRic kernels with active stencils in psyad example.
  changelog
  examples/psyad/lfric/README.md
  examples/psyad/lfric/adjoint/README.md
  examples/psyad/lfric/adjoint/adj_poly1d_reconstruction_kernel_mod.F90
  examples/psyad/lfric/adjoint/adj_poly2d_reconstruction_kernel_mod.F90
  examples/psyad/lfric/adjoint/lbl_adj_poly2d_reconstruction_kernel_mod.F90
  examples/psyad/lfric/tangent_linear/Makefile
  examples/psyad/lfric/tangent_linear/apply_helmholtz_operator_kernel_mod.F90
  examples/psyad/lfric/tangent_linear/poly1d_reconstruction_kernel_mod.F90
  examples/psyad/lfric/tangent_linear/poly2d_reconstruction_kernel_mod.F90
  examples/psyad/lfric/tangent_linear/poly_adv_update_kernel_mod.F90
  examples/psyad/lfric/tangent_linear_tweaked/Makefile
  examples/psyad/lfric/tangent_linear_tweaked/poly1d_reconstruction_kernel_mod_tweaked.F90
  examples/psyad/lfric/tangent_linear_tweaked/poly2d_reconstruction_kernel_mod_tweaked.F90
  examples/psyad/lfric/tangent_linear_tweaked/poly_adv_update_kernel_mod_tweaked.F90
  examples/psyad/lfric/tangent_linear_tweaked/tl_pressure_gradient_bd_kernel_mod_tweaked.F90
Labels: ready to be merged, adjoint

#2675 #1351 DoF Kernel Metadata Checks
  changelog
  psyclone.pdf
  src/psyclone/domain/lfric/lfric_constants.py
  src/psyclone/domain/lfric/lfric_kern.py
  src/psyclone/domain/lfric/lfric_kern_metadata.py
  src/psyclone/tests/domain/lfric/dofkern_test.py
  src/psyclone/tests/domain/lfric/lfric_domain_kernels_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/test_files/dynamo0p3/testkern_dofs_mod.f90
Labels: ready to be merged, LFRic
