Repository stfc/PSyclone, pull requests merged in 2024-09, with the labels that each got.

#2700 2699 Update `Config.__init__` docstring to correct error raised
  changelog
  psyclone.pdf
  src/psyclone/configuration.py
Labels: ready to be merged

#2710 (Closes #2665) improve error messages for line-length limiting and kernel arguments.
  changelog
  psyclone.pdf
  src/psyclone/domain/lfric/lfric_invoke_schedule.py
  src/psyclone/dynamo0p3.py
  src/psyclone/generator.py
  src/psyclone/parse/utils.py
  src/psyclone/tests/alggen_test.py
  src/psyclone/tests/generator_test.py
  src/psyclone/tests/parse/algorithm_test.py
  src/psyclone/tests/parse/utils_test.py
Labels: ready to be merged, LFRic

#2692 (closes #2691) Disable lowering copy when no more changes are expected and increase recursion limit when needed
  changelog
  psyclone.pdf
  src/psyclone/generator.py
  src/psyclone/psyir/backend/c.py
  src/psyclone/psyir/backend/fortran.py
  src/psyclone/psyir/backend/language_writer.py
  src/psyclone/psyir/backend/opencl.py
  src/psyclone/psyir/backend/visitor.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/psyir/backend/visitor_test.py
  src/psyclone/tests/psyir/frontend/fparser2_select_case_test.py
Labels: ready to be merged, NG-ARCH

#2708 (Closes #2663) add lfric integration tests on gpu
  .github/workflows/lfric_test.yml
  changelog
  examples/lfric/scripts/KGOs/lfric_3269_nvidia.patch
  examples/lfric/scripts/KGOs/lfric_gungho_configuration_4its.nml
  examples/lfric/scripts/KGOs/lfric_gungho_configuration_4its_checksums.txt
  examples/lfric/scripts/KGOs/nvc++.mk
  examples/lfric/scripts/KGOs/nvfortran_acc.mk
  examples/lfric/scripts/KGOs/psyclone.mk
  examples/lfric/scripts/acc_parallel.py
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/psyir/transformations/kernel_transformation_test.py
  src/psyclone/transformations.py
Labels: ready to be merged, LFRic, NG-ARCH

#2678 (Closes #2636) alter LFRic PSy-layer to lookup nlevels for each kernel
  changelog
  doc/user_guide/dynamo0p3.rst
  psyclone.pdf
  src/psyclone/domain/lfric/__init__.py
  src/psyclone/domain/lfric/kern_call_arg_list.py
  src/psyclone/domain/lfric/kern_stub_arg_list.py
  src/psyclone/domain/lfric/lfric_cell_iterators.py
  src/psyclone/domain/lfric/lfric_collection.py
  src/psyclone/domain/lfric/lfric_invoke.py
  src/psyclone/domain/lfric/lfric_kern.py
  src/psyclone/dynamo0p3.py
  src/psyclone/tests/core/variables_access_info_test.py
  src/psyclone/tests/dependency_test.py
  src/psyclone/tests/domain/lfric/arg_ordering_test.py
  src/psyclone/tests/domain/lfric/kern_call_arg_list_test.py
  src/psyclone/tests/domain/lfric/lfric_cell_iterators_test.py
  src/psyclone/tests/domain/lfric/lfric_domain_kernels_test.py
  src/psyclone/tests/domain/lfric/lfric_dynamopsy_test.py
  src/psyclone/tests/domain/lfric/lfric_extract_driver_creator_test.py
  src/psyclone/tests/domain/lfric/lfric_field_codegen_test.py
  src/psyclone/tests/domain/lfric/lfric_mesh_props_test.py
  src/psyclone/tests/domain/lfric/lfric_scalar_codegen_test.py
  src/psyclone/tests/domain/lfric/lfric_stencil_test.py
  src/psyclone/tests/domain/lfric/transformations/dynamo0p3_transformations_test.py
  src/psyclone/tests/domain/lfric/transformations/lfric_extract_test.py
  src/psyclone/tests/dynamo0p3_basis_test.py
  src/psyclone/tests/dynamo0p3_cma_test.py
  src/psyclone/tests/dynamo0p3_lma_test.py
  src/psyclone/tests/dynamo0p3_multigrid_test.py
  src/psyclone/tests/dynamo0p3_quadrature_test.py
  src/psyclone/tests/dynamo0p3_test.py
  src/psyclone/tests/lfric_ref_elem_test.py
  src/psyclone/tests/psyir/nodes/acc_directives_test.py
  src/psyclone/tests/psyir/nodes/extract_node_test.py
  src/psyclone/tests/psyir/transformations/profile_test.py
  src/psyclone/tests/test_files/dynamo0p3/19.21_stencil_names_clash.f90
Labels: bug, ready to be merged, LFRic

#2687 (closes #2684) Fix the failure case when we have a WHERE construct with no array index notation.
  changelog
  examples/nemo/scripts/acc_kernels_trans.py
  examples/nemo/scripts/acc_loops_trans.py
  examples/nemo/scripts/omp_gpu_trans.py
  src/psyclone/psyir/frontend/fparser2.py
  src/psyclone/tests/psyir/frontend/fparser2_test.py
  src/psyclone/tests/psyir/frontend/fparser2_where_handler_test.py
Labels: ready to be merged
